.contactWrapper {
  height: 10vh;
  width: 10vh;
  background: #203a43;
  position: fixed;
  border-radius: 10vh;
  z-index: 4;
  bottom: 10vh;
  float: right;
  right: 3vh;
  transition: 250ms ease-out;
  bottom: 3vh;
  font-family: Objektiv Mk2;
  & .iconWrapper {
    height: 100%;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translate(0, -50%);
  }
  &.extended {
    width: 90vw;
    transition: 250ms ease-out;
    float: none;
    right: 0;
    height: 50vh;
    bottom: 40vh;
    border-radius: 5vh;
    transform: translate(50%);
    right: 50%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 20% 70% 10%;
    grid-template-areas: ". exit" "form form" ". .";
    & .formWrapper {
      grid-area: form;
      height: 100%;
      width: 100%;
      & .innerForm {
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
        width: 200%;
        display: flex;
        flex-flow: row nowrap;
      }
    }
    & .xWrapper {
      position: relative;
      border-radius: 5vh;
      grid-area: exit;
      height: 5vh;
      width: 5vh;
      top: 50%;
      transform: translate(0, -50%);
      margin-left: auto;
      margin-right: auto;
      border: solid 1px white;
      & .x {
        top: 55%;
        display: block;
        text-align: center;
        transform: translate(0, -50%);
        width: fit-content;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        font-family: Objektiv Mk2;
        font-size: 2.5vh;
        color: white;
      }
    }
  }
}
