.contactWrapper {
  height: 10vh;
  width: 10vh;
  background: #2c5363;
  position: fixed;
  border-radius: 10vh;
  z-index: 4;
  bottom: 10vh;
  float: right;
  right: 3vh;
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  bottom: 3vh;
  font-family: Objektiv Mk2;
}

.contactWrapper.extended {
  width: 100vw;
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  float: none;
  right: 0;
  height: 100vh;
  bottom: -11vh;
  border-radius: 0;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  right: 50%;
}

.contactWrapper.extended .formWrapper {
  height: 100%;
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  -ms-grid-rows: 10% 10% 10% 10% 10% 50%;
      grid-template-rows: 10% 10% 10% 10% 10% 50%;
      grid-template-areas: "name exit" "company ." "email email" "phone phone" "subject subject" "text text";
}

.contactWrapper.extended .formWrapper .xWrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: exit;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 5vh;
  width: 5vh;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 5vh;
  border: solid 1px white;
}

.contactWrapper.extended .formWrapper .xWrapper .x {
  color: white;
  font-size: 2.5vh;
  top: 54%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.contactWrapper.extended .formWrapper .nameWrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
  height: 100%;
  width: auto;
  overflow: hidden;
  margin-left: 5vw;
}

.contactWrapper.extended .formWrapper .nameWrapper input {
  text-overflow: ellipsis;
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 10px;
  font-family: Objektiv Mk2;
  font-size: 3vh;
  background: transparent;
  border: solid 1px white;
}

.contactWrapper.extended .formWrapper .nameWrapper input::-webkit-input-placeholder {
  left: 5vh;
}

.contactWrapper.extended .formWrapper .nameWrapper input:-ms-input-placeholder {
  left: 5vh;
}

.contactWrapper.extended .formWrapper .nameWrapper input::-ms-input-placeholder {
  left: 5vh;
}

.contactWrapper.extended .formWrapper .nameWrapper input::placeholder {
  left: 5vh;
}

.contactWrapper.extended .formWrapper .companyWrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: company;
}

.contactWrapper.extended .formWrapper .companyWrapper input {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-overflow: ellipsis;
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 10px;
  font-family: Objektiv Mk2;
  font-size: 3vh;
  background: transparent;
  border: solid 1px white;
}

.contactWrapper.extended .formWrapper .companyWrapper input::-webkit-input-placeholder {
  left: 5vh;
}

.contactWrapper.extended .formWrapper .companyWrapper input:-ms-input-placeholder {
  left: 5vh;
}

.contactWrapper.extended .formWrapper .companyWrapper input::-ms-input-placeholder {
  left: 5vh;
}

.contactWrapper.extended .formWrapper .companyWrapper input::placeholder {
  left: 5vh;
}

.contactWrapper.extended .formWrapper .emailWrapper {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: email;
}

.contactWrapper.extended .formWrapper .emailWrapper input {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-overflow: ellipsis;
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 10px;
  font-family: Objektiv Mk2;
  font-size: 3vh;
  background: transparent;
  border: solid 1px white;
}

.contactWrapper.extended .formWrapper .emailWrapper input::-webkit-input-placeholder {
  left: 5vh;
}

.contactWrapper.extended .formWrapper .emailWrapper input:-ms-input-placeholder {
  left: 5vh;
}

.contactWrapper.extended .formWrapper .emailWrapper input::-ms-input-placeholder {
  left: 5vh;
}

.contactWrapper.extended .formWrapper .emailWrapper input::placeholder {
  left: 5vh;
}

.contactWrapper.extended .formWrapper .phoneWrapper {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: phone;
}

.contactWrapper.extended .formWrapper .subjectWrapper {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: subject;
}

.contactWrapper.extended .formWrapper .textWrapper {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: text;
}
/*# sourceMappingURL=ContactFloat.module.css.map */