.contactWrapper {
  background: #203a43;
  position: fixed;
  z-index: 2;
  float: right;
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  font-family: Objektiv Mk2 Bold;
  height: 15vw;
  width: 15vw;
  border-radius: 15vw;
  right: 4vh;
  bottom: 4vh;
  cursor: pointer;
}

.contactWrapper .iconWrapper {
  height: 100%;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.contactWrapper.extended {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  float: none;
  right: 0;
  cursor: default;
  z-index: 4;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  right: 50%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: calc(100% / 7) calc(100% / 7 * 6);
      grid-template-rows: calc(100% / 7) calc(100% / 7 * 6);
      grid-template-areas: "header" "form";
  width: 90vw;
  bottom: 15vh;
  height: 70vh;
  border-radius: 5vh;
}

.contactWrapper.extended .headerWrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.contactWrapper.extended .headerWrapper .titleWrapper {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  margin-left: 5%;
  font-size: 4vw;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.contactWrapper.extended .headerWrapper .x {
  font-size: 3vw;
  border-radius: 5vh;
  text-align: center;
  height: 5vh;
  width: 5vh;
  top: 50%;
  display: block;
  text-align: center;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  position: relative;
  border: 1px solid white;
  text-align: center;
  cursor: pointer;
  background: none;
  margin-left: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-right: 5%;
  font-family: Objektiv Mk2 Bold;
  color: white;
}

.contactWrapper.extended .headerWrapper .x :focus {
  outline: none;
}

.contactWrapper.extended .formWrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: form;
  height: 100%;
  width: 100%;
}

.contactWrapper.extended .formWrapper .innerForm {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 100%;
  width: 200%;
  display: flex;
  flex-flow: row nowrap;
}

.contactWrapper.extended .formWrapper .innerForm.statusSide {
  width: 100%;
  display: block;
}

@media (orientation: landscape) {
  .contactWrapper {
    height: 11vh;
    width: 11vh;
    min-height: 82px;
    min-width: 82px;
    border-radius: 11vh;
    right: 5vw;
    bottom: clamp(40px, 5vh, 70px);
  }
  .contactWrapper.extended {
    width: 60vh;
    height: 80vh;
    top: 50%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    bottom: 0vh;
    border-radius: 5vh;
        grid-template-areas: "header" "form";
  }
  .contactWrapper.extended .headerWrapper .titleWrapper {
    font-size: 3vh;
  }
  .contactWrapper.extended .headerWrapper .x {
    border-radius: 5vh;
    height: 5vh;
    width: 5vh;
    font-size: 2vh;
  }
}
/*# sourceMappingURL=ContactFloat.module.css.map */