.contactWrapper {
  background: #203a43;
  position: fixed;
  z-index: 2;
  float: right;
  transition: 250ms ease-out;
  font-family: Objektiv Mk2 Bold;
  height: 15vw;
  width: 15vw;
  border-radius: 15vw;

  right: 4vh;
  bottom: 4vh;
  cursor: pointer;
  & .iconWrapper {
    height: 100%;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translate(0, -50%);
  }
  &.extended {
    transition: 250ms ease-out;
    float: none;
    right: 0;
    cursor: default;
    z-index: 4;
    transform: translate(50%);

    right: 50%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: calc(100% / 7) calc(100% / 7 * 6);
    grid-template-areas: "header" "form";

    width: 90vw;
    bottom: 15vh;
    height: 70vh;
    border-radius: 5vh;

    & .headerWrapper {
      grid-area: header;
      display: flex;
      flex-flow: row nowrap;
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
      height: 100%;
      justify-content: space-between;
      width: 100%;
      & .titleWrapper {
        position: relative;
        height: fit-content;
        width: fit-content;
        color: white;
        margin-left: 5%;
        font-size: 4vw;

        top: 50%;
        transform: translate(0, -50%);
      }

      & .x {
        font-size: 3vw;
        border-radius: 5vh;
        text-align: center;
        height: 5vh;
        width: 5vh;
        top: 50%;
        display: block;
        text-align: center;
        transform: translate(0, -50%);
        position: relative;
        border: 1px solid white;
        text-align: center;
        cursor: pointer;
        background: none;
        margin-left: auto;
        align-content: center;
        margin-right: 5%;
        font-family: Objektiv Mk2 Bold;
        color: white;
        :focus {
          outline: none;
        }
      }
    }
    & .formWrapper {
      grid-area: form;
      height: 100%;
      width: 100%;
      & .innerForm {
        transition: 250ms ease-out;
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
        // width: 200%;
        width: 200%;
        display: flex;
        flex-flow: row nowrap;
        &.statusSide {
          width: 100%;
          display: block;
        }
      }
    }
  }
}

@media (orientation: landscape) {
  .contactWrapper {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    right: 5vw;
    bottom: 50px;
    &.extended {
      width: 60vh;
      height: 80vh;
      top: 50%;
      transform: translate(50%, -50%);
      bottom: 0vh;
      border-radius: 5vh;
      grid-template-areas: "header" "form";
      & .headerWrapper {
        & .titleWrapper {
          font-size: 3vh;
        }

        & .x {
          border-radius: 5vh;
          height: 5vh;
          width: 5vh;
          font-size: 2vh;
        }
      }
    }
  }
}
