.hammer {
  grid-area: hammer;
  width: 100%;
  position: relative;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  & .dragBar {
    position: absolute;
    height: 100%;
    width: 20vw;
    background: none;
    top: 0;
    z-index: 1;
    &:nth-child(1) {
      float: left;
      left: 0;
    }
    &:nth-child(2) {
      float: right;
      right: 0;
    }
  }
  & canvas {
    height: 100%;
    width: 100%;
    position: relative;
    outline: none;
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
}

@media (orientation: portrait) {
  .hammer {
    grid-area: hammer;
    width: 100%;
    position: relative;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    & .dragBar {
      display: block;
    }
    & canvas {
      height: 100%;
      width: 100%;
      position: relative;
      outline: none;
    }
  }
}

@media (max-width: 599px) and (orientation: landscape) {
  .hammer {
    & .dragBar {
      display: none;
    }
    & canvas {
      height: 60%;
      width: 100%;
      top: 50%;
      transform: translate(0, -50%);
      position: relative;
      outline: none;
    }
  }
}

@media (min-width: 600px) and (orientation: landscape) {
  .hammer {
    & .dragBar {
      display: none;
    }
    & canvas {
      height: 60%;
      width: 100%;
      position: relative;
      outline: none;
    }
  }
}
