.hammer {
  grid-area: hammer;
  width: 100%;
  position: relative;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  & .dragBar {
    position: absolute;
    height: 100%;
    width: 20vw;
    background: none;
    top: 0;
    display: block;

    z-index: 1;
    &:nth-child(1) {
      float: left;
      left: 0;
    }
    &:nth-child(2) {
      float: right;
      right: 0;
    }
  }
  & canvas {
    height: 100%;
    width: 100%;
    position: relative;
    outline: none;
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
}

@media (orientation: landscape) {
  .hammer {
    overflow: hidden;

    & .dragBar {
      display: none;
    }
    & canvas {
      height: clamp(285px, 40vw, 500px);
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      outline: none;
    }
  }
}
