.linksWrapper {
  &.navBar {
    position: relative;
    margin-left: auto;
    margin-right: 5%;
    top: 50%;
    justify-content: right;
    width: 45vw;
    height: 50%;
    transform: translate(0, -50%);
    & .innerLinks {
      display: flex;
      height: 100%;
      width: 100%;
      flex-flow: row nowrap;
      & .link {
        height: fit-content;
        position: relative;
        margin-left: auto;
        top: 50%;
        transform: translate(0, -50%);
        position: relative;
        & a {
          text-decoration: none;
          & .text {
            height: fit-content;
            width: fit-content;
            font-family: Objektiv Mk2;
            color: white;
            font-weight: medium;
            font-size: 4vh;
          }
        }
      }
    }
  }
  &.mobileNav {
    float: right;
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    background: #203a43;
    z-index: 4;
    justify-content: space-between;
    overflow: hidden;
    & .innerLinks {
      position: relative;
      height: 30%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      & .link {
        height: fit-content;
        position: relative;
        width: fit-content;
        margin: auto;

        & a {
          text-decoration: none;
          & .text {
            height: fit-content;
            width: fit-content;
            font-family: Objektiv Mk2;
            color: white;
            font-weight: medium;
            font-size: 3vh;
          }
        }
      }
    }
  }
}
@media (orientation: landscape) {
  .linksWrapper {
    &.mobileNav {
      display: none;
    }
    &.navBar {
      display: block;
    }
  }
}

@media (orientation: portrait) {
  .linksWrapper {
    &.mobileNav {
      width: 75vw;
      & .innerLinks {
        margin-top: 50%;
      }
    }
    &.navBar {
      display: none;
    }
  }
}

@media (min-width: 1025px) and (orientation: landscape) {
  .linksWrapper {
    &.navBar {
      & .innerLinks {
        & .link {
          & a {
            text-decoration: none;
            & .text {
              font-size: 3vh;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .linksWrapper {
    &.navBar {
      & .innerLinks {
        & .link {
          & a {
            text-decoration: none;
            & .text {
              font-size: 2vw;
            }
          }
        }
      }
    }
  }
}
