.linksWrapper {
  &.navBar {
    position: relative;
    margin-left: auto;
    margin-right: 5%;
    justify-content: right;
    width: 50%;
    height: 50%;
    & .innerLinks {
      display: flex;
      height: 100%;
      align-items: center;
      width: 100%;
      flex-flow: row nowrap;
      & .link {
        height: fit-content;
        position: relative;
        margin-left: auto;
        position: relative;
        & a {
          text-decoration: none;
          display: block;
          & .text {
            height: fit-content;
            width: fit-content;
            font-family: Objektiv Mk2 Bold;
            color: white;
            font-weight: medium;
            font-size: 4vh;
          }
        }
      }
    }
  }
  &.mobileNav {
    float: right;
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    background: #203a43;
    z-index: 4;
    width: 75vw;
    justify-content: space-between;
    overflow: hidden;
    & .innerLinks {
      position: relative;
      height: 30%;
      display: flex;
      flex-flow: column nowrap;
      margin-top: 50%;

      justify-content: flex-start;
      & .link {
        height: fit-content;
        position: relative;
        width: fit-content;
        margin: auto;

        & a {
          text-decoration: none;
          & .text {
            height: fit-content;
            width: fit-content;
            font-family: Objektiv Mk2;
            color: white;
            font-weight: medium;
            font-size: 3vh;
          }
        }
      }
    }
  }
  &.navBar {
    display: none;
  }
}

@media (orientation: landscape) {
  .linksWrapper {
    &.mobileNav {
      display: none;
    }
    &.navBar {
      margin-right: 0;
      margin-left: 0;
      width: fit-content;
      display: block;
      & .innerLinks {
        width: fit-content;
        & .link {
          margin-left: 3vw;
          & a {
            text-decoration: none;
            & .text {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
