.linksWrapper.navBar {
  position: relative;
  margin-left: auto;
  margin-right: 5%;
  top: 50%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 45vw;
  height: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.linksWrapper.navBar .innerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.linksWrapper.navBar .innerLinks .link {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  margin-left: auto;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  position: relative;
}

.linksWrapper.navBar .innerLinks .link a {
  text-decoration: none;
}

.linksWrapper.navBar .innerLinks .link a .text {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Objektiv Mk2;
  color: white;
  font-weight: medium;
  font-size: 4vh;
}

.linksWrapper.mobileNav {
  float: right;
  top: 0;
  right: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 100vh;
  background: #203a43;
  z-index: 4;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.linksWrapper.mobileNav .innerLinks {
  position: relative;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.linksWrapper.mobileNav .innerLinks .link {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.linksWrapper.mobileNav .innerLinks .link a {
  text-decoration: none;
}

.linksWrapper.mobileNav .innerLinks .link a .text {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Objektiv Mk2;
  color: white;
  font-weight: medium;
  font-size: 3vh;
}

@media (orientation: landscape) {
  .linksWrapper.mobileNav {
    display: none;
  }
  .linksWrapper.navBar {
    display: block;
  }
}

@media (orientation: portrait) {
  .linksWrapper.mobileNav {
    width: 75vw;
  }
  .linksWrapper.mobileNav .innerLinks {
    margin-top: 50%;
  }
  .linksWrapper.navBar {
    display: none;
  }
}

@media (min-width: 1025px) and (orientation: landscape) {
  .linksWrapper.navBar .innerLinks .link a {
    text-decoration: none;
  }
  .linksWrapper.navBar .innerLinks .link a .text {
    font-size: 3vh;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .linksWrapper.navBar .innerLinks .link a {
    text-decoration: none;
  }
  .linksWrapper.navBar .innerLinks .link a .text {
    font-size: 4vh;
  }
}
/*# sourceMappingURL=LinksWrapper.module.css.map */