@mixin mobileNone {
  .mobileNav {
    display: none;
  }
}

@mixin mobileBlock {
  .mobileNav {
    display: block;
  }
}

.mobileNav {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  float: right;
  right: 5%;
  height: 55%;
  width: auto;
  cursor: pointer;
  z-index: 5;
  &.normal {
    & .path1 {
      stroke-dasharray: 193px;
      stroke-dashoffset: 193px;
      transition: stroke-dasharray 250ms ease-out;
      transition: stroke-dashoffset 250ms ease-out;
      will-change: stroke-dashoffset;
      will-change: stroke-dasharray;
    }
    & .path2 {
      stroke-dashoffset: 195px;
      stroke-dasharray: 195px;
      transition: 250ms ease-out;
      transition: stroke-dasharray 250ms ease-out;
      transition: stroke-dashoffset 250ms ease-out;
      will-change: stroke-dashoffset;
      will-change: stroke-dasharray;
    }
  }

  &.switched {
    & .path1 {
      stroke-dasharray: 175px;
      stroke-dashoffset: 369px;
      transition: 250ms ease-out;
      transition: stroke-dasharray stroke-dashoffset 250ms ease-out;
      will-change: stroke-dashoffset stroke-dasharray;
    }
    & .path2 {
      stroke-dasharray: 156px;
      stroke-dashoffset: 314;
      transition: 250ms ease-out;
      transition: stroke-dasharray stroke-dashoffset 250ms ease-out;
      will-change: stroke-dashoffset stroke-dasharray;
    }
  }
}

@media (min-width: 750px) and (max-width: 1024px) {
  .mobileNav {
    & path {
      stroke-width: 0.5vh;
    }
  }
}

@media (max-width: 749px) {
  .mobileNav {
    & path {
      stroke-width: 0.75vh;
    }
  }
}

@media (orientation: landscape) {
  @include mobileNone();
}
