@mixin mobileNone {
  .mobileNav {
    display: none;
  }
}

@mixin mobileBlock {
  .mobileNav {
    display: block;
  }
}

.mobileNav {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  float: right;
  right: 5%;
  height: 55%;
  width: auto;
  z-index: 5;
  &.normal {
    & .path1 {
      stroke-dasharray: 200px;
      stroke-dashoffset: -193px;
      transition: 250ms ease-out;
    }
    & .path2 {
      stroke-dashoffset: -195px;
      stroke-dasharray: 195px;
      transition: 250ms ease-out;
    }
  }

  &.switched {
    & .path1 {
      stroke-dasharray: 171px;
      stroke-dashoffset: 15;
      transition: 250ms ease-out;
    }
    & .path2 {
      stroke-dasharray: 154px;
      stroke-dashoffset: -2;
      transition: 250ms ease-out;
    }
  }
}

@media (min-width: 750px) and (max-width: 1024px) {
  .mobileNav {
    & path {
      stroke-width: 0.5vh;
    }
  }
}

@media (max-width: 749px) {
  .mobileNav {
    & path {
      stroke-width: 1vh;
    }
  }
}

@media (orientation: landscape) {
  @include mobileNone();
}
