.senderWrapper {
  height: 100%;
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75% 25%;
      grid-template-columns: 75% 25%;
  -ms-grid-rows: 25% 25% 25% 25%;
      grid-template-rows: 25% 25% 25% 25%;
      grid-template-areas: "name name" "company company" "email email" "phone next";
}

.senderWrapper .sectionWrapper {
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: name;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.senderWrapper .sectionWrapper:first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: name;
}

.senderWrapper .sectionWrapper:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: company;
}

.senderWrapper .sectionWrapper:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: email;
}

.senderWrapper .sectionWrapper:last-child {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: phone;
}

.senderWrapper .sectionWrapper:last-child .labelWrapper {
  margin-left: 6%;
}

.senderWrapper .sectionWrapper:last-child .inputWrapper {
  margin-left: 6%;
}

.senderWrapper .sectionWrapper:last-child .errorWrapper {
  margin-left: 6%;
}

.senderWrapper .sectionWrapper .labelWrapper {
  margin-left: 5%;
  height: 4.5vh;
}

.senderWrapper .sectionWrapper .labelWrapper label {
  position: relative;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 2vh;
  color: #60a2be;
}

.senderWrapper .sectionWrapper .inputWrapper {
  margin-left: 5%;
  position: relative;
  width: 90%;
  height: 5vh;
}

.senderWrapper .sectionWrapper .inputWrapper input {
  position: relative;
  height: 4vh;
  text-align: left;
  vertical-align: center;
  font-family: Objektiv Mk2;
  text-indent: 2%;
  border-radius: 10px;
  font-size: 2vh;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: transparent;
  color: white;
  width: 97%;
  border: solid 0.25vh white;
  outline: none;
}

.senderWrapper .sectionWrapper .inputWrapper input:focus {
  border: solid 0.25vh #61dbfb;
  color: #61dbfb;
}

.senderWrapper .sectionWrapper .inputWrapper input:focus::-webkit-input-placeholder {
  color: #61dbfb;
}

.senderWrapper .sectionWrapper .inputWrapper input:focus:-ms-input-placeholder {
  color: #61dbfb;
}

.senderWrapper .sectionWrapper .inputWrapper input:focus::-ms-input-placeholder {
  color: #61dbfb;
}

.senderWrapper .sectionWrapper .inputWrapper input:focus::placeholder {
  color: #61dbfb;
}

.senderWrapper .sectionWrapper .inputWrapper input::-webkit-input-placeholder {
  color: lightgrey;
}

.senderWrapper .sectionWrapper .inputWrapper input:-ms-input-placeholder {
  color: lightgrey;
}

.senderWrapper .sectionWrapper .inputWrapper input::-ms-input-placeholder {
  color: lightgrey;
}

.senderWrapper .sectionWrapper .inputWrapper input::placeholder {
  color: lightgrey;
}

.senderWrapper .sectionWrapper .errorWrapper {
  margin-left: 5%;
  height: 5vh;
}

.senderWrapper .sectionWrapper .errorWrapper .error {
  width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 2vh;
  color: #ed4548;
}
/*# sourceMappingURL=SenderForm.module.css.map */