.senderWrapper {
  height: 100%;
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75% 25%;
      grid-template-columns: 75% 25%;
  -ms-grid-rows: calc(5% / 3 * 13) calc(5% / 3 * 13) calc(5% / 3 * 13) 30%;
      grid-template-rows: calc(5% / 3 * 13) calc(5% / 3 * 13) calc(5% / 3 * 13) 30%;
      grid-template-areas: "name name" "company company" "email email" "phone next";
}

.senderWrapper .sectionWrapper {
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: name;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.senderWrapper .sectionWrapper:first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: name;
}

.senderWrapper .sectionWrapper:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: company;
}

.senderWrapper .sectionWrapper:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: email;
}

.senderWrapper .sectionWrapper:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: phone;
}

.senderWrapper .sectionWrapper:nth-child(4) .labelWrapper {
  margin-left: 6%;
}

.senderWrapper .sectionWrapper:nth-child(4) .inputWrapper {
  margin-left: 6%;
}

.senderWrapper .sectionWrapper:nth-child(4) .errorWrapper {
  margin-left: 6%;
}

.senderWrapper .sectionWrapper .labelWrapper {
  margin-left: 5%;
  height: calc(100% / 13 * 4);
}

.senderWrapper .sectionWrapper .labelWrapper label {
  position: relative;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 2vh;
  color: #60a2be;
}

.senderWrapper .sectionWrapper .inputWrapper {
  margin-left: 5%;
  position: relative;
  width: 90%;
}

.senderWrapper .sectionWrapper .inputWrapper .phoneFormat {
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  float: right;
  right: 5%;
  position: absolute;
  cursor: pointer;
  background: #2c5363;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding-left: 2vw;
  padding-right: 2vw;
}

.senderWrapper .sectionWrapper .inputWrapper .phoneFormat div {
  font-family: Objektiv Mk2;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  color: grey;
}

.senderWrapper .sectionWrapper .inputWrapper .phoneFormat div.line {
  color: white;
}

.senderWrapper .sectionWrapper .inputWrapper .phoneFormat div.format {
  color: white;
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.senderWrapper .sectionWrapper .inputWrapper input {
  position: relative;
  text-align: left;
  vertical-align: center;
  font-family: Objektiv Mk2;
  text-indent: 2%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: transparent;
  color: white;
  width: 97%;
  outline: none;
}

.senderWrapper .sectionWrapper .inputWrapper input.error {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.senderWrapper .sectionWrapper .inputWrapper input:focus {
  color: #61dbfb;
}

.senderWrapper .sectionWrapper .inputWrapper input:focus::-webkit-input-placeholder {
  color: #61dbfb;
}

.senderWrapper .sectionWrapper .inputWrapper input:focus:-ms-input-placeholder {
  color: #61dbfb;
}

.senderWrapper .sectionWrapper .inputWrapper input:focus::-ms-input-placeholder {
  color: #61dbfb;
}

.senderWrapper .sectionWrapper .inputWrapper input:focus::placeholder {
  color: #61dbfb;
}

.senderWrapper .sectionWrapper .inputWrapper input::-webkit-input-placeholder {
  color: lightgrey;
}

.senderWrapper .sectionWrapper .inputWrapper input:-ms-input-placeholder {
  color: lightgrey;
}

.senderWrapper .sectionWrapper .inputWrapper input::-ms-input-placeholder {
  color: lightgrey;
}

.senderWrapper .sectionWrapper .inputWrapper input::placeholder {
  color: lightgrey;
}

.senderWrapper .sectionWrapper .errorWrapper {
  margin-left: 5%;
}

.senderWrapper .sectionWrapper .errorWrapper .error {
  width: 100%;
  font-family: Objektiv Mk2 Bold;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #ed4548;
}

.senderWrapper .nextButton {
  position: relative;
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: next;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
  margin-left: auto;
  margin-right: 20%;
  background: #2c5363;
}

.senderWrapper .nextButton svg {
  width: auto;
  position: relative;
  display: block;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1024px) and (orientation: portrait) {
  .senderWrapper {
    -ms-grid-columns: 75% 25%;
        grid-template-columns: 75% 25%;
    -ms-grid-rows: calc(5% / 3 * 13) calc(5% / 3 * 13) calc(5% / 3 * 13) 30%;
        grid-template-rows: calc(5% / 3 * 13) calc(5% / 3 * 13) calc(5% / 3 * 13) 30%;
  }
  .senderWrapper .sectionWrapper .labelWrapper {
    margin-left: 5%;
    height: calc(100% / 13 * 4);
  }
  .senderWrapper .sectionWrapper .labelWrapper label {
    font-size: 2vh;
  }
  .senderWrapper .sectionWrapper .inputWrapper {
    height: 5vh;
  }
  .senderWrapper .sectionWrapper .inputWrapper .phoneFormat {
    height: 3vh;
    width: 7vh;
    border-radius: 3vh;
  }
  .senderWrapper .sectionWrapper .inputWrapper .phoneFormat div {
    font-size: 1.75vh;
  }
  .senderWrapper .sectionWrapper .inputWrapper input {
    height: 4vh;
    border-radius: 4vh;
    font-size: 2vh;
    width: 97%;
    border: solid 0.25vh white;
  }
  .senderWrapper .sectionWrapper .inputWrapper input.error {
    border: solid 0.25vh #ed4548;
  }
  .senderWrapper .sectionWrapper .inputWrapper input:focus {
    border: solid 0.25vh #61dbfb;
  }
  .senderWrapper .sectionWrapper .errorWrapper {
    height: 4vh;
  }
  .senderWrapper .sectionWrapper .errorWrapper .error {
    font-size: 2vh;
  }
  .senderWrapper .nextButton {
    height: 9vh;
    border-radius: 9vh;
    width: 9vh;
  }
  .senderWrapper .nextButton svg {
    height: 5vh;
  }
}

@media (orientation: landscape) {
  .senderWrapper {
    -ms-grid-columns: 75% 25%;
        grid-template-columns: 75% 25%;
    -ms-grid-rows: calc(5% / 3 * 13) calc(5% / 3 * 13) calc(5% / 3 * 13) 30%;
        grid-template-rows: calc(5% / 3 * 13) calc(5% / 3 * 13) calc(5% / 3 * 13) 30%;
  }
  .senderWrapper .sectionWrapper .labelWrapper {
    margin-left: 5%;
    height: 4vh;
  }
  .senderWrapper .sectionWrapper .labelWrapper label {
    font-size: 2vh;
  }
  .senderWrapper .sectionWrapper .inputWrapper {
    height: 4vh;
  }
  .senderWrapper .sectionWrapper .inputWrapper .phoneFormat {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 1vh;
  }
  .senderWrapper .sectionWrapper .inputWrapper .phoneFormat div {
    top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    font-size: 2vh;
  }
  .senderWrapper .sectionWrapper .inputWrapper input {
    height: 100%;
    border-radius: 4vh;
    font-size: 2vh;
    width: 97%;
    border: solid 0.25vh white;
  }
  .senderWrapper .sectionWrapper .inputWrapper input.error {
    border: solid 0.25vh #ed4548;
  }
  .senderWrapper .sectionWrapper .inputWrapper input:focus {
    border: solid 0.25vh #61dbfb;
  }
  .senderWrapper .sectionWrapper .errorWrapper {
    height: 4vh;
  }
  .senderWrapper .sectionWrapper .errorWrapper .error {
    font-size: 2vh;
  }
  .senderWrapper .nextButton {
    height: 9vh;
    border-radius: 9vh;
    width: 9vh;
  }
  .senderWrapper .nextButton svg {
    height: 5vh;
  }
}
/*# sourceMappingURL=SenderForm.module.css.map */