.senderWrapper {
  height: 100%;
  width: 50%;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 13vh 13vh 13vh 21vh;
  grid-template-areas: "name name" "company company" "email email" "phone next";
  & .sectionWrapper {
    height: 100%;
    grid-area: name;
    display: flex;
    flex-flow: column nowrap;
    &:first-child {
      grid-area: name;
    }
    &:nth-child(2) {
      grid-area: company;
    }
    &:nth-child(3) {
      grid-area: email;
    }
    &:nth-child(4) {
      grid-area: phone;
      & .labelWrapper {
        margin-left: 6%;
      }
      & .inputWrapper {
        margin-left: 6%;
      }
      & .errorWrapper {
        margin-left: 6%;
      }
    }
    & .labelWrapper {
      margin-left: 5%;
      height: 4vh;
      & label {
        position: relative;
        display: block;
        height: fit-content;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 2vh;
        color: #60a2be;
      }
    }
    & .inputWrapper {
      margin-left: 5%;
      position: relative;
      width: 90%;
      height: 5vh;
      & input {
        position: relative;
        height: 4vh;
        text-align: left;
        vertical-align: center;
        font-family: Objektiv Mk2;
        text-indent: 2%;
        border-radius: 4vh;
        font-size: 2vh;
        top: 50%;
        transform: translate(0, -50%);
        background: transparent;
        color: white;
        width: 97%;
        border: solid 0.25vh white;
        outline: none;
        &:focus {
          border: solid 0.25vh #61dbfb;
          color: #61dbfb;
          &::placeholder {
            color: #61dbfb;
          }
        }
        &::placeholder {
          color: lightgrey;
        }
      }
    }
    & .errorWrapper {
      margin-left: 5%;
      height: 4vh;
      & .error {
        width: 100%;
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
        height: fit-content;
        font-size: 2vh;
        color: #ed4548;
      }
    }
  }
  & .nextButton {
    position: relative;
    grid-area: next;
    top: 50%;
    transform: translate(0, -50%);
    height: 9vh;
    border-radius: 9vh;
    width: 9vh;
    margin-left: auto;
    margin-right: 20%;
    background: #0f2027;
    & svg {
      height: 5vh;
      width: auto;
      position: relative;
      display: block;
      top: 50%;
      transform: translate(0, -50%);
      margin-left: auto;
      margin-right: auto;
    }
  }
}
