.creationWrapper {
  position: relative;
  transform: translate(-50%, 0%);
  border-radius: 25px;
  height: 20vh;
  background: #2c5363;
  width: 20vh;
  transition: 250ms ease-out;
  left: 50%;
  &.tapped {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    border-radius: 0;
    height: 50vh;
    z-index: 4;
    width: 45vh;
    transition: 250ms ease-out;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 25px;
  }
  & .exit {
    background: transparent;
    border-radius: 5vh;
    position: absolute;
    float: right;
    right: 5%;
    top: 5%;
    height: 5vh;
    width: 5vh;
    border: solid 1px white;
    & .xWrapper {
      position: relative;
      width: fit-content;
      // height: fit-content;
      color: white;
      display: block;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: Objektiv Mk2;
      // margin-left: auto;
      // margin-right: auto;
      font-size: 2.5vh;
    }
    // background: black;
  }
}
// .modalDark {
//   top: 0;
//   z-index: 3;
//   left: 0;
//   position: fixed;
//   height: 100vh;
//   width: 100vw;
//   background: rgba(32, 58, 67, 0.5);
// }

.modalEnter {
  transition: 250ms ease-out;
  opacity: 0;
  &.modalEnterActive {
    opacity: 1;
    transition: 250ms ease-out;
  }
}

.modalExit {
  transition: 250ms ease-out;

  opacity: 1;
  &.modalExitActive {
    opacity: 0;
    transition: 250ms ease-out;
  }
}

@media (max-width: 1024px) {
  .selectorTitleWrapper {
    display: flex;
    width: fit-content;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    transition: 250ms ease-out;
    flex-flow: column nowrap;
    bottom: 7.5%;
    & .selctorTitle {
      font-size: 2vh;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
      height: fit-content;
      color: white;
      font-family: Objektiv Mk2;
    }
    & .subTitle {
      font-size: 1.8vh;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
      height: fit-content;
      color: lightgrey;
      font-family: Objektiv Mk2;
    }
  }
}
