.typeWrapper {
  grid-area: creationtype;
  height: 100%;
  width: 100%;
}

@media (orientation: landscape) {
  .typeWrapper {
    & .innerTypes {
      height: 65vh;
    }
  }
}

@media (orientation: portrait) {
  .typeWrapper {
    // border: solid 1px white;
    & .innerTypes {
      // margin-top: 5%;

      // top: 50%;
      transform: translate(0, 10%);
      height: 80%;
      width: 100%;
      position: relative;
    }
  }
}
