.typeWrapper {
  grid-area: creationtype;
}

@media (max-width: 1024px) {
  .typeWrapper {
    height: 100%;
    width: 100%;
    // border: solid 1px white;
    & .innerTypes {
      // margin-top: 5%;

      // top: 50%;
      transform: translate(0, 10%);
      height: 70%;
      width: 100%;
      position: relative;
    }
  }
}
