.tappedWrapper {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40% 15% 30% 15%;
      grid-template-rows: 40% 15% 30% 15%;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
      grid-template-areas: "image" "header" "details" "technologies";
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  overflow: hidden;
}

.tappedWrapper .imageWrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.tappedWrapper .imageWrapper img {
  height: 100%;
}

.tappedWrapper .detailsWrapper {
  height: 100%;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: details;
  width: 100%;
}

.tappedWrapper .detailsWrapper .descriptionWrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: Objektiv Mk2;
  font-size: 2vh;
  color: white;
}

.tappedWrapper .technologiesWrapper {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: technologies;
  height: 100%;
  width: 100%;
}

.tappedWrapper .technologiesWrapper .technologies {
  font-weight: 200;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  margin-left: 5%;
  font-family: Objektiv Mk2;
  color: #61dbfb;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 2vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.tappedWrapper .headerWrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: header;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
}

.tappedWrapper .headerWrapper .titleWrapper {
  color: white;
  font-family: Objektiv Mk2;
  font-size: 2vh;
  position: relative;
  margin-left: 5%;
  margin-right: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.tappedWrapper .headerWrapper .linksWrapper {
  margin-right: 5%;
  position: relative;
  margin-left: auto;
  height: 100%;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.tappedWrapper .headerWrapper .linksWrapper a {
  display: block;
  position: relative;
  margin: auto;
  display: block;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.tappedWrapper .headerWrapper .linksWrapper a .linkWrapper {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.tappedWrapper .headerWrapper .linksWrapper a .linkWrapper.linkWrapper:last-child {
  margin-right: 0;
  margin-left: auto;
}

.tappedWrapper .headerWrapper .linksWrapper a .linkWrapper.linkWrapper:first-child {
  margin-right: auto;
  margin-left: auto;
}

.tappedWrapper .headerWrapper .linksWrapper a .linkWrapper svg {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  fill: white;
  height: 4.5vh;
  width: auto;
}
/*# sourceMappingURL=MobileTapped.module.css.map */