.navBar {
  height: 66%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: 5%;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  outline: none;
}

.navBar svg {
  height: 100%;
  width: auto;
  outline: none;
}

.st0 {
  fill: none;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st1 {
  fill: #0f2027;
}

.st2 {
  fill: url(#g1);
}

.st3 {
  fill: url(#g2);
}

.st4 {
  fill: url(#gradient3);
}

.st5 {
  fill: url(#gradient4);
}

.st6 {
  fill: url(#gradient5);
}

.st7 {
  fill: url(#gradient6);
}

.st8 {
  fill: #ffffff;
}

.st9 {
  fill: none;
}

.st10 {
  fill: url(#gradient7);
}

.st11 {
  fill: url(#gradient8);
}

.st12 {
  fill: url(#gradient9);
}

.st13 {
  fill: url(#gradient10);
}

.st14 {
  fill: url(#gradient11);
}

.st15 {
  fill: url(#gradient12);
}

.st16 {
  fill: url(#gradient13);
}

.st17 {
  fill: url(#gradient14);
}

.st18 {
  fill: url(#gradient15);
}

.st19 {
  fill: url(#gradient16);
}

.st20 {
  fill: url(#gradient17);
}

.st21 {
  fill: url(#gradient18);
}

.st22 {
  fill: url(#gradient19);
}

.st23 {
  fill: url(#gradient20);
}

.st24 {
  fill: url(#gradient21);
}

.st25 {
  fill: url(#gradient22);
}

.st26 {
  fill: url(#gradient23);
}

.st27 {
  fill: url(#gradient24);
}

.st28 {
  fill: url(#gradient25);
}

.st29 {
  fill: url(#gradient26);
}

.st30 {
  fill: url(#gradient27);
}

.st31 {
  fill: url(#gradient28);
}

.st32 {
  fill: url(#gradient29);
}

.st33 {
  fill: url(#gradient30);
}

.st34 {
  fill: url(#gradient31);
}

.st35 {
  fill: url(#gradient32);
}

.st36 {
  fill: url(#gradient33);
}

.st37 {
  fill: url(#gradient34);
}

.st38 {
  fill: url(#gradient35);
}

.st39 {
  fill: url(#gradient36);
}

.st40 {
  fill: url(#gradient37);
}

.st41 {
  fill: url(#gradient38);
}

.st42 {
  fill: url(#gradient39);
}

.st43 {
  fill: url(#gradient40);
}

.st44 {
  fill: url(#gradient41);
}

.st45 {
  fill: url(#gradient42);
}

.st46 {
  fill: url(#gradient43);
}

.st47 {
  fill: url(#gradient44);
}

.st48 {
  fill: url(#gradient45);
}

.st49 {
  fill: url(#gradient46);
}

.st50 {
  fill: url(#gradient47);
}

.st51 {
  fill: url(#gradient48);
}

.st52 {
  fill: url(#gradient49);
}

.st53 {
  fill: url(#gradient50);
}

.st54 {
  fill: url(#gradient51);
}

.st55 {
  fill: url(#gradient52);
}

.st56 {
  fill: url(#gradient53);
}

.st57 {
  fill: url(#gradient54);
}

.st58 {
  fill: url(#gradient55);
}

.st59 {
  fill: url(#gradient56);
}

.st60 {
  fill: url(#gradient57);
}

.st61 {
  fill: url(#gradient58);
}

.st62 {
  fill: url(#gradient59);
}

.st63 {
  fill: url(#gradient60);
}

.st64 {
  fill: url(#gradient61);
}

.st65 {
  fill: url(#gradient62);
}

.st66 {
  fill: url(#gradient63);
}

.st67 {
  fill: url(#gradient64);
}

.st68 {
  fill: url(#gradient65);
}

.st69 {
  fill: url(#gradient66);
}

.st70 {
  fill: url(#gradient67);
}

.st71 {
  fill: url(#gradient68);
}

.st72 {
  fill: url(#gradient69);
}

.st73 {
  fill: url(#gradient70);
}

.st74 {
  fill: url(#gradient71);
}

.st75 {
  fill: url(#gradient72);
}

.st76 {
  fill: url(#gradient73);
}

.st77 {
  fill: url(#gradient74);
}

.st78 {
  fill: url(#gradient75);
}

.st79 {
  fill: url(#gradient76);
}

.st80 {
  fill: url(#gradient77);
}

.st81 {
  fill: url(#gradient78);
}

.st82 {
  fill: url(#gradient79);
}

.st83 {
  fill: url(#gradient80);
}

.st84 {
  fill: url(#gradient81);
}

.st85 {
  fill: url(#gradient82);
}

.st86 {
  fill: url(#gradient83);
}

.st87 {
  fill: #ffffff;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st88 {
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st89 {
  fill: #e6e6e6;
}

.st90 {
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st91 {
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st92 {
  fill: #f5f5f5;
}

.st93 {
  fill: url(#gradient84);
}

.st94 {
  fill: url(#gradient85);
}

.st95 {
  fill: url(#gradient86);
}

.st96 {
  fill: url(#gradient87);
}

.st97 {
  fill: url(#gradient88);
}

.st98 {
  fill: url(#gradient89);
}
/*# sourceMappingURL=FullLogo.module.css.map */