.navBar {
  width: fit-content;
  margin-right: auto;
  height: 60%;
  margin-left: 5%;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  //   border: solid 1px black;
  user-select: none;
  display: block;

  outline: none;
  & svg {
    height: 100%;
    width: auto;
    outline: none;
    user-select: none;
    pointer-events: none;
    &::selection {
      background: none;
    }
  }
}

.st2 {
  fill: url(#g1);
  // fill: red;
}
.st3 {
  fill: url(#g2);
}
.st4 {
  fill: url(#gradient3);
}
.st5 {
  fill: url(#gradient4);
}
.st6 {
  fill: url(#gradient5);
}
.st7 {
  fill: url(#gradient6);
}
.st8 {
  fill: #ffffff;
}
.st9 {
  fill: none;
}
.st88 {
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st89 {
  fill: #e6e6e6;
}
.st90 {
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.st91 {
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
.st92 {
  fill: #f5f5f5;
}
.st93 {
  fill: url(#gradient84);
}
.st94 {
  fill: url(#gradient85);
}

@media (min-height: 450px) and (max-width: 1365px) and (orientation: landscape) {
  .navBar {
    height: 50%;
  }
}
