.hammerAnvil {
  position: relative;
  grid-area: anvil;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  // z-index: -2;
  & .dragBar {
    position: absolute;
    height: 100%;
    width: 20vw;
    background: none;
    top: 0;
    z-index: 1;
    &:nth-child(1) {
      float: left;
      left: 0;
    }
    &:nth-child(2) {
      float: right;
      right: 0;
    }
  }
  & canvas {
    height: 100%;
    position: relative;
    width: 100%;
    outline: none;
  }
}
