@font-face {
  font-family: "Objektiv Mk2";
  src: url("ObjektivMk2.woff");
  font-display: auto;
}

@font-face {
  font-family: "Objektiv Mk2 Bold";
  src: url("ObjektivMk2Bold.woff");
  font-display: auto;
}
