.creations {
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  background: #0b171d;
  -ms-grid-rows: 10% 12.5% auto;
      grid-template-rows: 10% 12.5% auto;
      grid-template-areas: "header" "types" "creationtype";
}

.creations .headerWrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  height: 100%;
  width: 100%;
}

.creations .headerWrapper span {
  margin-right: auto;
  margin-left: 5%;
  display: block;
  position: relative;
  font-size: 2.5vh;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-family: Objektiv Mk2 Bold;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: none;
  color: white;
}

.creations .creationTypes {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: types;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  list-style-type: none;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}

.creations .creationTypes .type {
  position: relative;
  display: block;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 50px;
  height: 5vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #0f2027;
  color: #3e768e;
  padding-left: 3.5%;
  padding-right: 3.5%;
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.creations .creationTypes .type.type:nth-child(1) {
  margin-left: 5%;
  margin-right: 5%;
}

.creations .creationTypes .type.type:last-child {
  margin-left: 0;
  margin-right: auto;
}

.creations .creationTypes .type.active {
  background: #203a43;
  color: white;
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.creations .creationTypes .type span {
  font-family: Objektiv Mk2 Bold;
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
  font-size: 3vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.creations .typeSection {
  color: white;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (min-width: 1025px) and (orientation: landscape) {
  .creations {
    height: 44.5vh;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .creations {
    height: 100vh;
  }
  .creations .headerWrapper span {
    font-size: 2.5vw;
  }
  .creations .creationTypes .type {
    height: 5vw;
  }
  .creations .creationTypes .type span {
    font-family: Objektiv Mk2 Bold;
    position: relative;
    -o-object-fit: contain;
       object-fit: contain;
    font-size: 2vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

@media (max-width: 1024px) and (orientation: portrait) {
  .creations {
    height: 44.5vh;
  }
}
/*# sourceMappingURL=CreationsPage.module.css.map */