.creations {
  width: 100vw;
  display: grid;
  grid-template-columns: 100%;
  background: #0b171d;
  height: 44.5vh;

  grid-template-rows: 10% 12.5% auto;
  grid-template-areas: "header" "types" "creationtype";
  & .headerWrapper {
    grid-area: header;
    height: 100%;
    width: 100%;
    & span {
      margin-right: auto;
      margin-left: 5%;
      display: block;
      position: relative;
      font-size: 2.5vh;
      top: 50%;
      transform: translate(0, -50%);
      font-family: Objektiv Mk2 Bold;
      height: fit-content;
      width: fit-content;
      white-space: none;
      color: #e2eef3;
    }
  }
  & .creationTypes {
    grid-area: types;
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    flex-flow: row nowrap;
    justify-content: flex-start;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;

    & .type {
      position: relative;
      display: block;
      top: 50%;
      transform: translate(0, -50%);
      height: 5vh;
      outline: none;
      border-style: none;
      user-select: none;
      width: fit-content;
      border-radius: 5vh;
      background: #0f2027;
      color: #3e768e;
      padding-left: 3.5%;
      padding-right: 3.5%;
      font-family: Objektiv Mk2 Bold;
      font-size: 3vw;

      transition: 250ms ease-out;

      &.type:nth-child(1) {
        margin-left: 5%;
        margin-right: 5%;
      }
      &.type:last-child {
        margin-left: 0;
        margin-right: auto;
      }
      &.active {
        background: #203a43;
        color: #e2eef3;
        transition: 250ms ease-out;
      }
    }
  }
  & .typeSection {
    color: white;
    width: 100%;
    height: fit-content;
  }
}

@media (orientation: landscape) {
  .creations {
    height: 100vh;
    grid-template-rows: 20% 10% 12.5% auto;
    grid-template-areas: "." "header" "types" "creationtype";
    & .headerWrapper {
      & span {
        font-size: 2.5vw;
      }
    }
    & .creationTypes {
      width: auto;
      margin-left: 5vw;
      & .type {
        cursor: pointer;
        height: 5vw;
        width: fit-content;
        border-radius: 5vw;
        font-size: 2vw;
      }
    }
  }
}

@media (min-width: 1025px) and (orientation: landscape) {
  .creations {
    & .headerWrapper {
      & span {
        font-size: 2.5vw;
      }
    }
    & .creationTypes {
      & .type {
        cursor: pointer;
        height: 4vw;
        width: fit-content;
        border-radius: 5vw;
        font-size: 1vw;
      }
    }
  }
}
