.toolsPage {
  display: grid;
  grid-template-rows: 20vh 8vh 20vh 40vh;
  grid-template-areas: "." "header" "hammer" "tools";
  grid-template-columns: 100%;
  height: 88vh;

  background: #0b171d;
  & .toolsHeader {
    grid-area: header;
    font-size: 2.5vh;
    display: block;
    position: relative;
    height: fit-content;
    width: fit-content;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 5%;
    font-family: Objektiv Mk2 Bold;
    color: #e2eef3;
  }
}

@media (orientation: landscape) {
  .toolsPage {
    height: 100vh;
    grid-template-rows: 20% 8% 72%;
    grid-template-areas: ". ." "header header" "tools hammer";
    grid-template-columns: 50% 50%;
    background: #0b171d;
    min-height: 754px;
    & .toolsHeader {
      grid-area: header;
      font-size: 30px;
      display: block;
      position: relative;
      height: fit-content;
      width: fit-content;
      top: 50%;
      transform: translate(0, -50%);
      margin-left: 5%;
      font-family: Objektiv Mk2 Bold;
      color: #e2eef3;
    }
  }
}
