.toolsWrapper {
  grid-area: tools;
  width: 100%;
  height: 80%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

@media (orientation: landscape) {
  .toolsWrapper {
    overflow: none;
    height: 80%;
    width: auto;
    margin-left: 5%;
  }
}

@media (orientation: portrait) {
  .toolsWrapper {
    overflow: hidden;
    align-content: center;
    height: 100%;
  }
}
