.homePage {
  width: 100vw;
  height: 89vh;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100%;
  grid-template-areas: "headline hammer";
}

@media (max-width: 1024px) {
  .homePage {
    display: grid;
    grid-template-areas: "headline headline headline" ". hammer ." ". . .";
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 25% 50% 25%;
  }
}
