.opacityBar1 {
  position: fixed;
  width: 100vw;
  z-index: 1;
  top: 0;
  transition: 500ms;
  background: linear-gradient(#0b171d, #0b171d00);
}

.opacityBar2 {
  bottom: 0;
  position: fixed;
  width: 100vw;
  z-index: 1;
  transition: 500ms;
  background: linear-gradient(#0b171d00, #0b171d);
}
