// .opacityBar {
//   position: fixed;
//   width: 100vw;
//   height: 10vh;
//   z-index: 1;
//   &:nth-child(1) {
//     top: 0vh;
//     transition: 250ms;
//     background: linear-gradient(#0b171d, #0b171d00);
//   }
//   &:last-child {
//     bottom: 0;

//     background: linear-gradient(#0b171d00, #0b171d);
//   }
// }

.opacityBar1 {
  position: fixed;
  width: 100vw;
  z-index: 1;
  top: 0;
  transition: 500ms;
  background: linear-gradient(#0b171d, #0b171d00);
}

.opacityBar2 {
  bottom: 0;
  position: fixed;
  width: 100vw;
  z-index: 1;
  transition: 500ms;
  background: linear-gradient(#0b171d00, #0b171d);
}
