.senderStatusWrapper {
  height: 100%;
  width: 100%;
}

.senderStatusWrapper .iconWrapper {
  position: absolute;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.senderStatusWrapper .iconWrapper svg {
  height: 15vh;
  width: auto;
  display: block;
}

.senderStatusWrapper .iconWrapper.planeSending {
  -webkit-animation-name: fly;
          animation-name: fly;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.senderStatusWrapper .iconWrapper.planeSending svg {
  height: 10vh;
}

.senderStatusWrapper .greenCheck path {
  fill: none;
  stroke-dasharray: 610px;
  stroke-width: 1px;
  stroke: #57c769;
  -webkit-animation-name: greenCircleDraw;
          animation-name: greenCircleDraw;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.senderStatusWrapper .greenCheck polygon {
  fill: rgba(87, 199, 105, 0);
  stroke: #57c769;
  stroke-width: 1px;
  stroke-dasharray: 280;
  -webkit-animation-name: greenCheckDraw;
          animation-name: greenCheckDraw;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.senderStatusWrapper .redX path {
  stroke-dasharray: 330;
  stroke: #ed4548;
  fill: rgba(237, 69, 72, 0);
  -webkit-animation-name: redCircleDraw;
          animation-name: redCircleDraw;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.senderStatusWrapper .redX polygon {
  fill: rgba(237, 69, 72, 0);
  stroke: #ed4548;
  stroke-width: 1px;
  stroke-dasharray: 330;
  -webkit-animation-name: redXDraw;
          animation-name: redXDraw;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.senderStatusWrapper .statusWrapper {
  font-size: 4vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  top: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.senderStatusWrapper .statusWrapper.sent {
  color: white;
}

.senderStatusWrapper .statusWrapper.delivered {
  color: #57c769;
}

.senderStatusWrapper .statusWrapper.failed {
  color: #ed4548;
}

@-webkit-keyframes greenCircleDraw {
  0% {
    stroke-dashoffset: 610px;
    fill: rgba(87, 199, 105, 0);
  }
  75% {
    fill: rgba(87, 199, 105, 0);
  }
  100% {
    fill: #57c769;
    stroke-dashoffset: 0px;
  }
}

@keyframes greenCircleDraw {
  0% {
    stroke-dashoffset: 610px;
    fill: rgba(87, 199, 105, 0);
  }
  75% {
    fill: rgba(87, 199, 105, 0);
  }
  100% {
    fill: #57c769;
    stroke-dashoffset: 0px;
  }
}

@-webkit-keyframes greenCheckDraw {
  0% {
    stroke-dashoffset: 280px;
    fill: rgba(87, 199, 105, 0);
  }
  75% {
    fill: rgba(87, 199, 105, 0);
  }
  100% {
    stroke-dashoffset: 0px;
    fill: #57c769;
  }
}

@keyframes greenCheckDraw {
  0% {
    stroke-dashoffset: 280px;
    fill: rgba(87, 199, 105, 0);
  }
  75% {
    fill: rgba(87, 199, 105, 0);
  }
  100% {
    stroke-dashoffset: 0px;
    fill: #57c769;
  }
}

@-webkit-keyframes redXDraw {
  0% {
    stroke-dashoffset: 330px;
    fill: rgba(237, 69, 72, 0);
  }
  75% {
    fill: rgba(237, 69, 72, 0);
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ed4548;
  }
}

@keyframes redXDraw {
  0% {
    stroke-dashoffset: 330px;
    fill: rgba(237, 69, 72, 0);
  }
  75% {
    fill: rgba(237, 69, 72, 0);
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ed4548;
  }
}

@-webkit-keyframes redCircleDraw {
  0% {
    stroke-dashoffset: 330px;
    fill: rgba(237, 69, 72, 0);
  }
  75% {
    fill: rgba(237, 69, 72, 0);
  }
  100% {
    stroke-dashoffset: 0px;
    fill: #ed4548;
  }
}

@keyframes redCircleDraw {
  0% {
    stroke-dashoffset: 330px;
    fill: rgba(237, 69, 72, 0);
  }
  75% {
    fill: rgba(237, 69, 72, 0);
  }
  100% {
    stroke-dashoffset: 0px;
    fill: #ed4548;
  }
}

@-webkit-keyframes fly {
  0% {
    -webkit-transform: translate(-50%, -65%);
            transform: translate(-50%, -65%);
  }
  50% {
    -webkit-transform: translate(-50%, -35%);
            transform: translate(-50%, -35%);
  }
  100% {
    -webkit-transform: translate(-50%, -65%);
            transform: translate(-50%, -65%);
  }
}

@keyframes fly {
  0% {
    -webkit-transform: translate(-50%, -65%);
            transform: translate(-50%, -65%);
  }
  50% {
    -webkit-transform: translate(-50%, -35%);
            transform: translate(-50%, -35%);
  }
  100% {
    -webkit-transform: translate(-50%, -65%);
            transform: translate(-50%, -65%);
  }
}
/*# sourceMappingURL=SendStatus.module.css.map */