.senderStatusWrapper {
  height: 100%;
  width: 100%;

  & .iconWrapper {
    position: absolute;
    height: fit-content;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    & svg {
      height: 15vh;
      width: auto;
      display: block;
    }
    &.planeSending {
      animation-name: fly;
      animation-timing-function: ease-out;
      animation-iteration-count: infinite;
      animation-duration: 2s;
      & svg {
        height: 10vh;
      }
    }
  }

  .redX {
    & path {
      stroke-dasharray: 597.028;
      stroke: #ed4548;
      animation-name: circleDraw;
      animation-duration: 5s;
      animation-timing-function: ease-out;
      fill: none;
    }
  }

  & .statusWrapper {
    font-size: 4vh;
    height: fit-content;
    width: fit-content;
    position: relative;
    transition: 250ms ease-out;
    top: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    &.sent {
      color: white;
    }
    &.delivered {
      color: #57c769;
    }
    &.failed {
      color: #ed4548;
    }
  }
}

@keyframes circleDraw {
  0% {
    stroke-dashoffset: 597.028px;
    fill: none;
  }
  50% {
    stroke-dashoffset: 0px;
    fill: none;
  }
  100% {
    fill: #ed4548;
  }
}

@keyframes fly {
  0% {
    transform: translate(-50%, -65%);
  }
  50% {
    transform: translate(-50%, -35%);
  }
  100% {
    transform: translate(-50%, -65%);
  }
}

.greenCheckCircle {
  // pathLength = 597.028
}
.greenCheck {
}
