.senderStatusWrapper {
  height: 100%;
  width: 100%;

  & .iconWrapper {
    position: absolute;
    height: fit-content;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    & svg {
      height: 15vh;
      width: auto;
      display: block;
    }
    &.planeSending {
      animation-name: fly;
      animation-timing-function: ease-out;
      animation-iteration-count: infinite;
      animation-duration: 2s;

      & svg {
        height: 10vh;
      }
    }
  }

  .greenCheck {
    & path {
      fill: none;
      stroke-dasharray: 610px;
      stroke-width: 1px;
      stroke: #57c769;
      animation-name: greenCircleDraw;
      animation-duration: 1.5s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }
    & polygon {
      fill: rgba($color: #57c769, $alpha: 0);
      stroke: #57c769;
      stroke-width: 1px;
      stroke-dasharray: 280;
      animation-name: greenCheckDraw;
      animation-duration: 1.5s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }
  }

  .redX {
    & path {
      stroke-dasharray: 330;
      stroke: #ed4548;
      fill: rgba($color: #ed4548, $alpha: 0);
      animation-name: redCircleDraw;
      animation-duration: 1.5s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }
    & polygon {
      fill: rgba($color: #ed4548, $alpha: 0);
      stroke: #ed4548;
      stroke-width: 1px;
      stroke-dasharray: 330;
      animation-name: redXDraw;
      animation-duration: 1.5s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }
  }

  & .statusWrapper {
    font-size: 4vh;
    height: fit-content;
    width: fit-content;
    position: relative;
    transition: 250ms ease-out;
    top: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    &.sent {
      color: white;
    }
    &.delivered {
      color: #57c769;
    }
    &.failed {
      color: #ed4548;
    }
  }
}
@keyframes greenCircleDraw {
  0% {
    stroke-dashoffset: 610px;
    fill: rgba($color: #57c769, $alpha: 0);
  }
  75% {
    fill: rgba($color: #57c769, $alpha: 0);
  }
  100% {
    fill: rgba($color: #57c769, $alpha: 1);
    stroke-dashoffset: 0px;
  }
}
@keyframes greenCheckDraw {
  0% {
    stroke-dashoffset: 280px;
    fill: rgba($color: #57c769, $alpha: 0);
  }
  75% {
    fill: rgba($color: #57c769, $alpha: 0);
  }
  100% {
    stroke-dashoffset: 0px;
    fill: rgba($color: #57c769, $alpha: 1);
  }
}

@keyframes redXDraw {
  0% {
    stroke-dashoffset: 330px;
    fill: rgba($color: #ed4548, $alpha: 0);
  }
  75% {
    fill: rgba($color: #ed4548, $alpha: 0);
  }
  100% {
    stroke-dashoffset: 0;
    fill: rgba($color: #ed4548, $alpha: 1);
  }
}

@keyframes redCircleDraw {
  0% {
    stroke-dashoffset: 330px;
    fill: rgba($color: #ed4548, $alpha: 0);
  }

  75% {
    fill: rgba($color: #ed4548, $alpha: 0);
  }

  100% {
    stroke-dashoffset: 0px;
    fill: rgba($color: #ed4548, $alpha: 1);
  }
}

@keyframes fly {
  0% {
    transform: translate(-50%, -65%);
  }
  50% {
    transform: translate(-50%, -35%);
  }
  100% {
    transform: translate(-50%, -65%);
  }
}
