.senderStatusWrapper {
  height: 100%;
  width: 100%;
  & .statusWrapper {
    font-size: 4vh;
    height: fit-content;
    width: fit-content;
    position: relative;
    transition: 250ms ease-out;
    top: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    &.sent {
      color: white;
    }
    &.delivered {
      color: #57c769;
    }
    &.failed {
      color: #ed4548;
    }
  }
}
