// .assets {
//   height: 100%;
//   width: 100%;
//   grid-area: "loading";
//   grid-template-columns: 100%;
//   grid-template-rows: 100%;
//   position: relative;
//   // margin-left: auto;
//   // margin-right: auto;
//   // top: 50%;
//   // transform: translate(0, -50%);
//   // position: relative;

//   & .chainWrapper {
//     height: fit-content;
//     width: fit-content;
//     top: 50%;
//     transform: translate(0, -50%);
//     margin-right: auto;
//     margin-left: auto;
//     grid-area: loading;
//     & svg {
//       position: relative;
//       height: 50vw;
//       width: auto;
//       // animation-name: rotate;
//       animation-duration: 6s;
//       animation-timing-function: linear;
//     }
//   }
//   & .anvilWrapper {
//     height: fit-content;
//     width: fit-content;
//     grid-area: loading;
//     top: 50%;
//     transform: translate(0, -50%);
//     margin-right: auto;
//     margin-left: auto;
//     // top: 50%;
//     // left: 50%;
//     // transform: translate(-50%, -50%);
//     & svg {
//       height: 500px;
//       width: auto;
//     }
//   }
// }

.anvilWrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: fit-content;
  width: fit-content;
  & svg {
    height: 45vh;
    width: auto;
  }
}

.chainWrapper {
  height: fit-content;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

  & svg {
    height: 45vh;
    width: auto;
    animation-name: rotate;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
