html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0f2027;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
