.toolWrapper {
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-overflow: ellipsis;
  margin-top: 5%;
}

.toolWrapper svg {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: auto;
  display: block;
  fill: #e2eef3;
}

.toolWrapper p {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-overflow: ellipsis;
  margin-left: 5%;
  font-family: Objektiv Mk2;
  position: relative;
  display: block;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 3vw;
  color: #e2eef3;
}

@media (min-width: 450px), (max-width: 1024px) and (orientation: portrait) {
  .toolWrapper svg {
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 5vw;
    height: auto;
  }
  .toolWrapper p {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-overflow: ellipsis;
    margin-left: 2vw;
    font-family: Objektiv Mk2;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    display: block;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    font-size: 3vw;
  }
}

@media (max-width: 449px) and (orientation: portrait) {
  .toolWrapper svg {
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 7.5vw;
    height: auto;
    display: block;
  }
  .toolWrapper p {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-overflow: ellipsis;
    margin-left: 2vw;
    font-family: Objektiv Mk2;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    display: block;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    font-size: 3vw;
  }
}

@media (orientation: landscape) {
  .toolWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .toolWrapper svg {
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 3vw;
    height: auto;
    display: block;
  }
  .toolWrapper p {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-overflow: ellipsis;
    margin-left: 2vw;
    font-family: Objektiv Mk2;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    display: block;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    font-size: 1.5vw;
  }
}
/*# sourceMappingURL=Tool.module.css.map */