// .toolWrapper {
//   margin-left: 5%;
//   display: flex;
//   flex-flow: row nowrap;
//   width: auto;
//   height: auto;
//   justify-content: left;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   margin-top: 5%;
//   & svg {
//     position: relative;
//     top: 50%;
//     transform: translate(0, -50%);
//     width: auto;
//     height: auto;
//     display: block;
//   }
//   & span {
//     height: fit-content;
//     width: fit-content;
//     text-overflow: ellipsis;
//     margin-left: 5%;
//     font-family: Objektiv Mk2;
//     position: relative;
//     display: block;
//     top: 50%;
//     transform: translate(0, -50%);
//     font-size: auto;
//     color: white;
//   }
// }

.toolWrapper {
  margin-left: 5%;
  display: flex;
  flex-flow: row nowrap;
  width: auto;
  height: 5vh;
  justify-content: left;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5%;
  & svg {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    width: auto;
    height: 3vh;
    display: block;
  }
  & p {
    height: fit-content;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: fit-content;
    text-overflow: ellipsis;
    margin-left: 5%;
    font-family: Objektiv Mk2;
    position: relative;
    display: block;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 3vw;
    color: white;
  }
}
