.toolWrapper {
  margin-left: 5%;
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  height: fit-content;
  justify-content: left;
  overflow: hidden;
  width: fit-content;
  text-overflow: ellipsis;
  margin-top: 5%;
  & svg {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    height: intrinsic;
    display: block;
    fill: #e2eef3;
  }
  & p {
    height: fit-content;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: fit-content;
    text-overflow: ellipsis;
    margin-left: 5%;
    font-family: Objektiv Mk2;
    position: relative;
    display: block;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 3vw;
    color: #e2eef3;
  }
}

@media (min-width: 450px), (max-width: 1024px) and (orientation: portrait) {
  .toolWrapper {
    & svg {
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
      width: 5vw;
      height: 5vw;
    }
    & p {
      height: fit-content;
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
      text-overflow: ellipsis;
      margin-left: 2vw;
      font-family: Objektiv Mk2;
      width: fit-content;
      position: relative;
      display: block;
      top: 50%;
      transform: translate(0, -50%);
      font-size: 3vw;
    }
  }
}

@media (max-width: 449px) and (orientation: portrait) {
  .toolWrapper {
    & svg {
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
      width: 7.5vw;
      height: 8vw;
      display: block;
    }
    & p {
      height: fit-content;
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
      text-overflow: ellipsis;
      margin-left: 2vw;
      font-family: Objektiv Mk2;
      width: fit-content;
      position: relative;
      display: block;
      top: 50%;
      transform: translate(0, -50%);
      font-size: 3vw;
    }
  }
}

@media (orientation: landscape) {
  .toolWrapper {
    display: flex;
    position: relative;
    // margin-left: 5%;
    flex-flow: row nowrap;

    justify-content: left;
    overflow: hidden;
    text-overflow: ellipsis;
    & svg {
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
      width: clamp(30px, 3vw, 50px);
      height: clamp(40px, 4vw, 85px);
      display: block;
    }
    & p {
      height: fit-content;
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
      text-overflow: ellipsis;
      margin-left: 1vw;
      font-family: Objektiv Mk2;
      width: fit-content;
      position: relative;
      display: block;
      top: 50%;
      transform: translate(0, -50%);
      font-size: clamp(20px, 1.5vw, 25px);
    }
  }
}
