// .toolWrapper {
//   margin-left: 5%;
//   display: flex;
//   flex-flow: row nowrap;
//   width: auto;
//   height: auto;
//   justify-content: left;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   margin-top: 5%;
//   & svg {
//     position: relative;
//     top: 50%;
//     transform: translate(0, -50%);
//     width: auto;
//     height: auto;
//     display: block;
//   }
//   & span {
//     height: fit-content;
//     width: fit-content;
//     text-overflow: ellipsis;
//     margin-left: 5%;
//     font-family: Objektiv Mk2;
//     position: relative;
//     display: block;
//     top: 50%;
//     transform: translate(0, -50%);
//     font-size: auto;
//     color: white;
//   }
// }

.toolWrapper {
  margin-left: 5%;
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  width: 25vw;
  height: fit-content;
  justify-content: left;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5%;
  & svg {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    width: 10vw;
    height: auto;
    display: block;
  }
  & p {
    height: fit-content;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: fit-content;
    text-overflow: ellipsis;
    margin-left: 5%;
    font-family: Objektiv Mk2;
    position: relative;
    display: block;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 3vw;
    color: white;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 450px) {
  .toolWrapper {
    display: flex;
    position: relative;
    margin-left: 5%;
    flex-flow: row nowrap;
    width: fit-content;
    height: fit-content;
    justify-content: left;
    overflow: hidden;
    text-overflow: ellipsis;
    & svg {
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
      width: 7.5vw;
      height: auto;
      display: block;
    }
    & p {
      height: fit-content;
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
      text-overflow: ellipsis;
      margin-left: 2vw;
      font-family: Objektiv Mk2;
      width: fit-content;
      position: relative;
      display: block;
      top: 50%;
      transform: translate(0, -50%);
      font-size: 3vw;
      color: white;
    }
  }
}
