.iconWrapper {
  height: 100%;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translate(0, -50%);

  & svg {
    height: auto;
    width: 12vw;
    position: relative;
    margin-left: auto;
    display: block;
    margin-right: auto;
    top: 50%;
    transform: translate(0, -50%);
    fill: white;
  }

  // & .bottomFold {
  //   display: block;
  //   position: absolute;
  //   margin-left: auto;
  //   margin-right: auto;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   height: 4vh;
  //   width: auto;
  // }

  // & .leftFold {
  //   z-index: 2;
  //   display: block;
  //   position: absolute;
  //   margin-left: auto;
  //   margin-right: auto;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   height: 4vh;
  //   width: auto;
  //   filter: drop-shadow(10px 0px 10px rgba(100, 100, 100, 0.25));
  // }
}
.st0 {
  fill: none;
  stroke: #000000;
  stroke-miterlimit: 10;
}
.st1 {
  fill: #0f2027;
}
.st2 {
  fill: url(#SVGID_1_);
}

.st8 {
  fill: #ffffff;
}
.st146 {
  fill: none;
  stroke: #999999;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
