.about {
  width: 100vw;
  display: -ms-grid;
  display: grid;
  background: #0b171d;
  height: 100vh;
      grid-template-areas: "." "header" "picture" "about";
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 20% 8% 30% 42%;
      grid-template-rows: 20% 8% 30% 42%;
}

.about .header {
  margin-right: auto;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: header;
  margin-left: 5%;
  display: block;
  position: relative;
  font-size: 2.5vh;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-family: Objektiv Mk2 Bold;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: none;
  color: #e2eef3;
}

.about .borderFrame {
  display: block;
  height: 27vh;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: picture;
  width: 27vh;
  position: relative;
  z-index: 1;
  left: 50%;
  top: 1vh;
  -webkit-transform: translate(calc(-50% + 1.5vh));
          transform: translate(calc(-50% + 1.5vh));
  border: solid 0.5vh #61dbfb;
}

.about .imageWrapper {
  top: 0;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: picture;
  height: 90%;
  position: relative;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  width: auto;
  z-index: 0;
}

.about .imageWrapper div {
  display: none;
}

.about .description {
  text-indent: 4vh;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: about;
  height: 100%;
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: block;
  text-indent: 4vh;
  font-family: Objektiv Mk2;
  color: #e2eef3;
  text-align: left;
  font-size: 2vh;
}

.about .description .link {
  color: #61dbfb;
  outline: none;
  text-decoration: none;
}

@media (orientation: landscape) {
  .about {
    width: 100vw;
    min-height: 754px;
    display: -ms-grid;
    display: grid;
    background: #0b171d;
    height: 100vh;
        grid-template-areas: ". ." "header header" "picture about";
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 20% 8% auto;
        grid-template-rows: 20% 8% auto;
  }
  .about .header {
    margin-right: auto;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
    margin-left: 5%;
    display: block;
    position: relative;
    font-size: 30px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    font-family: Objektiv Mk2 Bold;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    white-space: none;
  }
  .about .borderFrame {
    display: block;
    height: clamp(300px, 30vw, 800px);
    width: clamp(300px, 30vw, 800px);
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: picture;
    position: relative;
    z-index: 1;
    left: 50%;
    top: clamp(15px, 2.5vh, 20px);
    -webkit-transform: translate(calc(-50% + 3vh));
            transform: translate(calc(-50% + 3vh));
    border: solid 5px #61dbfb;
  }
  .about .imageWrapper {
    height: auto;
    width: clamp(300px, 30vw, 800px);
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: picture;
  }
  .about .description {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: about;
    height: 100%;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 75%;
    text-indent: clamp(10px, 4vh, 20px);
    font-family: Objektiv Mk2;
    text-align: left;
    font-size: clamp(13px, 1.45vw, 27px);
  }
}
/*# sourceMappingURL=AboutPage.module.css.map */