.about {
  width: 100%;
  display: grid;
  background: #0b171d;

  height: 100vh;
  box-sizing: border-box;
  grid-template-areas: "." "header" "picture" "about";
  grid-template-columns: 100%;
  grid-template-rows: 20% 8% 30% 42%;

  & .header {
    margin-right: auto;
    grid-area: header;
    margin-left: 5%;
    display: block;
    position: relative;
    font-size: 2.5vh;
    top: 50%;
    transform: translate(0, -50%);
    font-family: Objektiv Mk2 Bold;
    height: fit-content;
    width: fit-content;
    white-space: none;
    color: #e2eef3;
  }
  & .borderFrame {
    display: block;
    height: 27vh;
    grid-area: picture;
    width: 27vh;
    position: relative;
    z-index: 1;
    left: 50%;
    top: 1vh;
    transform: translate(calc(-50% + 1.5vh));
    border: solid 0.5vh #61dbfb;
  }

  & .imageWrapper {
    top: 0;
    grid-area: picture;
    height: 90%;
    position: relative;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    z-index: 0;
    & div {
      display: none;
    }
  }
  & .description {
    text-indent: 4vh;
    grid-area: about;
    height: 100%;
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-top: 0;
    height: fit-content;
    display: block;
    text-indent: 4vh;
    font-family: Objektiv Mk2;
    color: #e2eef3;
    text-align: left;
    font-size: 2vh;
    & .link {
      color: #61dbfb;
      outline: none;
      text-decoration: none;
    }
  }
}

@media (orientation: landscape) {
  .about {
    min-height: 754px;
    display: grid;
    background: #0b171d;
    height: 100vh;
    grid-template-areas: ". ." "header header" "picture about";
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 8% auto;

    & .header {
      margin-right: auto;
      grid-area: header;
      margin-left: 5%;
      display: block;
      position: relative;
      font-size: 30px;
      top: 50%;
      transform: translate(0, -50%);
      font-family: Objektiv Mk2 Bold;
      height: fit-content;
      width: fit-content;
      white-space: none;
    }
    & .borderFrame {
      display: block;
      height: clamp(300px, 30vw, 800px);
      width: clamp(300px, 30vw, 800px);
      grid-area: picture;
      position: relative;
      z-index: 1;
      left: 50%;
      top: clamp(15px, 2.5vh, 20px);
      transform: translate(calc(-50% + 3vh));
      border: solid 5px #61dbfb;
    }

    & .imageWrapper {
      height: auto;
      width: clamp(300px, 30vw, 800px);
      grid-area: picture;
    }
    & .description {
      grid-area: about;
      height: 100%;
      width: 100%;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5%;
      width: 75%;
      text-indent: clamp(10px, 4vh, 20px);
      font-family: Objektiv Mk2;
      text-align: left;
      font-size: clamp(13px, 1.45vw, 27px);
    }
  }
}

@media (orientation: landscape) and (min-width: 2000px) {
  .about {
    padding-left: 500px;
    padding-right: 500px;

    & .borderFrame {
      width: 500px;
      height: 500px;
    }
    & .imageWrapper {
      width: 500px;
    }
    & .description {
      font-size: 20px;
    }
  }
}
