.about {
  width: 100vw;
  display: grid;
  background: #0b171d;

  height: 100vh;
  grid-template-areas: "." "header" "picture" "about";
  grid-template-columns: 100%;
  grid-template-rows: 20% 8% 30% 42%;

  & .header {
    margin-right: auto;
    grid-area: header;
    margin-left: 5%;
    display: block;
    position: relative;
    font-size: 2.5vh;
    top: 50%;
    transform: translate(0, -50%);
    font-family: Objektiv Mk2 Bold;
    height: fit-content;
    width: fit-content;
    white-space: none;
    color: #e2eef3;
  }

  & .imageWrapper {
    grid-area: picture;
  }
  & .descriptionWrapper {
    grid-area: about;
    height: 100%;
    width: 100%;
    overflow: hidden;
    & p {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      padding-left: 10%;
      padding-right: 10%;
      margin-top: 0;
      margin-bottom: auto;
      height: fit-content;
      width: fit-content;
      text-indent: 4vh;
      font-family: Objektiv Mk2;
      color: #e2eef3;
      text-align: left;
      font-size: 2vh;
    }
  }
}

@media (orientation: portait) {
  .about {
    width: 100vw;
    display: grid;
    background: #0b171d;
    height: 100vh;
    grid-template-areas: "." "header" "picture" "about";
    grid-template-columns: 100%;

    & .header {
      margin-right: auto;
      grid-area: header;
      margin-left: 5%;
      display: block;
      position: relative;
      font-size: 2.5vh;
      top: 50%;
      transform: translate(0, -50%);
      font-family: Objektiv Mk2 Bold;
      height: fit-content;
      width: fit-content;
      white-space: none;
      color: white;
    }

    & .imageWrapper {
      grid-area: picture;
    }
    & .descriptionWrapper {
      grid-area: about;
      height: 100%;
      width: 100%;
      overflow: hidden;
      & p {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        margin-top: 0;
        margin-bottom: auto;
        width: 80%;
        text-indent: 4vh;
        font-family: Objektiv Mk2;
        color: white;
        text-align: left;
        font-size: 2vh;
      }
    }
  }
}

@media (orientation: landscape) {
  .about {
    width: 100vw;
    display: grid;
    background: #0b171d;
    height: 100vh;

    grid-template-areas: ". ." "header header" "picture about";
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 8% auto;

    & .header {
      margin-right: auto;
      grid-area: header;
      margin-left: 5%;
      display: block;
      position: relative;
      font-size: 2.5vw;
      top: 50%;
      transform: translate(0, -50%);
      font-family: Objektiv Mk2 Bold;
      height: fit-content;
      width: fit-content;
      white-space: none;
      color: white;
    }

    & .imageWrapper {
      grid-area: picture;
    }
    & .descriptionWrapper {
      grid-area: about;
      height: 100%;
      width: 100%;
      overflow: hidden;
      & p {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        margin-bottom: auto;
        width: 75%;
        text-indent: 4vh;
        font-family: Objektiv Mk2;
        color: white;
        text-align: left;
        font-size: 1.5vw;
      }
    }
  }
}
