.about {
  width: 100vw;
  height: 100vh;
  border: solid 1px lightblue;
  display: grid;
  grid-template-areas: ". picture about ." ". hammer tools .";
  grid-template-columns: 5% 55% 35% 5%;
  grid-template-rows: 50% 50%;
  & svg {
    height: 100%;
    width: auto;
    // animation-name: rotate;
    // transition: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
