.creationWrapper {
  position: relative;
  transform: translate(-50%, 0%);
  height: 20vh;
  background: #2c5363;
  width: 20vh;
  transition: 250ms ease-out;
  left: 50%;
  border-radius: 4vh;

  display: block;
  cursor: pointer;
  &.tapped {
    margin-top: 0%;
    position: fixed;
    height: 60vh;
    z-index: 4;
    width: 90vw;
    left: 50%;
    transform: translate(-50%, 0%);
    overflow: hidden;
    margin-left: auto;
    cursor: default;
    margin-right: auto;
    transition: 250ms ease-out;
    border-radius: 5vh;
  }
}

.selectorTitleWrapper {
  display: flex;
  width: fit-content;
  position: absolute;
  height: fit-content;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 250ms ease-out;
  bottom: 2.5%;

  flex-flow: column nowrap;
  z-index: -1;
  & .selctorTitle {
    font-size: 2vh;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    color: #e2eef3;
    font-family: Objektiv Mk2 Bold;
  }
  & .subTitle {
    font-size: 1.8vh;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    color: #c5dde7;
    font-family: Objektiv Mk2;
  }
}

@media (orientation: landscape) {
  .creationWrapper {
    height: 35vh;
    border-radius: 5vh;
    min-height: 264px;
    min-width: 264px;
    width: 35vh;
    transform: translate(-50%, 0);
    left: 50%;
    &.tapped {
      overflow: hidden;
      margin-left: auto;
      cursor: default;
      margin-right: auto;
      position: fixed;
      border-radius: 0;
      height: 80vh;
      z-index: 4;
      min-height: 603px;
      min-width: 603px;
      width: 80vh;
      transition: 250ms ease-out;
      transform: translate(-50%, -50%);
      border-radius: 5vh;
    }
  }
  .selectorTitleWrapper {
    position: relative;
    margin-top: 3vh;
    z-index: 1;
    & .selctorTitle {
      font-size: 2.5vh;
    }
    & .subTitle {
      font-size: 2vh;
    }
  }
}
