.creationWrapper {
  position: relative;
  transform: translate(-50%, 0%);
  border-radius: 5vw;
  height: 20vh;
  background: #2c5363;
  width: 20vh;
  transition: 250ms ease-out;
  left: 50%;
  cursor: pointer;
  &.tapped {
    overflow: hidden;
    margin-left: auto;
    cursor: default;
    margin-right: auto;
    position: fixed;
    border-radius: 0;
    height: 105vw;
    z-index: 4;
    width: 90vw;
    transition: 250ms ease-out;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 5vh;
  }
  & .exit {
    background: transparent;
    border-radius: 5vh;
    position: absolute;
    float: right;
    right: 5%;
    top: 5%;
    height: 5vh;
    width: 5vh;
    border: solid 1px white;
    & .xWrapper {
      position: relative;
      width: fit-content;
      color: white;
      display: block;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: Objektiv Mk2 Bold;
      font-size: 2.5vh;
    }
  }
}

@media (min-width: 1367px) and (orientation: landscape) {
  .creationWrapper {
    height: 15vw;
    width: 15vw;
    border-radius: 5vh;
    &.tapped {
      margin-top: 15%;
      position: fixed;
      height: 80vh;
      z-index: 4;
      width: 80vh;
    }
    & .exit {
      height: 5vw;
      width: 5vw;
      & .xWrapper {
        font-size: 2vw;
      }
    }
  }
  .selectorTitleWrapper {
    display: flex;
    width: fit-content;
    position: relative;
    height: fit-content;
    left: 50%;
    transform: translate(-50%, 0);
    transition: 250ms ease-out;
    flex-flow: column nowrap;
    bottom: 2.5%;
    z-index: -1;
    & .selctorTitle {
      font-size: 2vh;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
      height: fit-content;
      color: white;
      font-family: Objektiv Mk2 Bold;
    }
    & .subTitle {
      font-size: 1.8vh;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
      height: fit-content;
      color: lightgrey;
      font-family: Objektiv Mk2 Bold;
    }
  }
}

@media (max-width: 1366px) and (orientation: landscape) {
  .creationWrapper {
    height: 20vw;
    width: 20vw;
    border-radius: 4vw;
    &.tapped {
      margin-top: 15%;
      position: fixed;
      height: 80vh;
      z-index: 4;
      width: 80vh;
    }
    & .exit {
      height: 5vw;
      width: 5vw;
      & .xWrapper {
        font-size: 2vw;
      }
    }
  }
  .selectorTitleWrapper {
    display: flex;
    width: fit-content;
    position: absolute;
    height: fit-content;
    left: 50%;
    transform: translate(-50%, 0);
    transition: 250ms ease-out;
    flex-flow: column nowrap;
    bottom: 2.5%;
    z-index: -1;
    & .selctorTitle {
      font-size: 3vh;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
      height: fit-content;
      color: white;
      font-family: Objektiv Mk2 Bold;
    }
    & .subTitle {
      font-size: 2.5vh;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
      height: fit-content;
      color: lightgrey;
      font-family: Objektiv Mk2 Bold;
    }
  }
}

@media (orientation: portrait) {
  .creationWrapper {
    border-radius: 4vh;
    &.tapped {
      margin-top: 0%;
      position: fixed;
      height: 60vh;
      z-index: 4;
      width: 90vw;
    }
    & .exit {
      height: 5vh;
      width: 5vh;
      & .xWrapper {
        font-size: 2vh;
      }
    }
  }
  .selectorTitleWrapper {
    display: flex;
    width: fit-content;
    position: absolute;
    height: fit-content;
    left: 50%;
    transform: translate(-50%, 0);
    transition: 250ms ease-out;
    flex-flow: column nowrap;
    bottom: 2.5%;
    z-index: -1;
    & .selctorTitle {
      font-size: 2vh;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
      height: fit-content;
      color: white;
      font-family: Objektiv Mk2 Bold;
    }
    & .subTitle {
      font-size: 1.8vh;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
      height: fit-content;
      color: lightgrey;
      font-family: Objektiv Mk2 Bold;
    }
  }
}
