.creationWrapper {
  position: relative;
  transform: translate(-50%, 0%);
  height: 20vh;
  background: #2c5363;
  width: 20vh;
  transition: height width 250ms ease-out;
  will-change: height width;
  left: 50%;
  cursor: pointer;
  &.tapped {
    overflow: hidden;
    margin-left: auto;
    cursor: default;
    margin-right: auto;
    position: fixed;
    height: 105vw;
    z-index: 5;
    width: 90vw;
    transition: height width 250ms ease-out;
    will-change: height width;
    border-radius: 5vh;
  }
}

.selectorTitleWrapper {
  display: flex;
  width: fit-content;
  position: absolute;
  height: fit-content;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 250ms ease-out;
  flex-flow: column nowrap;
  z-index: -1;
  & .selctorTitle {
    font-size: 2vh;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    color: #e2eef3;
    font-family: Objektiv Mk2 Bold;
  }
  & .subTitle {
    font-size: 1.8vh;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    color: #c5dde7;
    font-family: Objektiv Mk2;
  }
}

@media (orientation: landscape) {
  .creationWrapper {
    height: 17.5vw;
    border-radius: 3vw;
    width: 17.5vw;
    transform: translate(-50%, 0);
    left: 50%;
    &.tapped {
      overflow: hidden;
      margin-left: auto;
      cursor: default;
      margin-right: auto;
      position: fixed;
      border-radius: 0;
      height: 80vh;
      z-index: 4;
      width: 80vh;
      transition: 250ms ease-out;
      transform: translate(-50%, -50%);
      border-radius: 5vh;
    }
  }
  .selectorTitleWrapper {
    position: relative;
    margin-top: 1%;
    z-index: 1;
    & .selctorTitle {
      font-size: 1.25vw;
    }
    & .subTitle {
      font-size: 1vw;
    }
  }
}

@media (orientation: portrait) {
  .creationWrapper {
    border-radius: 4vh;
    display: block;
    &.tapped {
      margin-top: 0%;
      position: fixed;
      height: 60vh;
      z-index: 4;
      width: 90vw;
      left: 50%;
      transform: translate(-50%, 0%);
    }
  }
  .selectorTitleWrapper {
    bottom: 2.5%;

    & .selctorTitle {
      font-size: 2vh;
    }
    & .subTitle {
      font-size: 1.8vh;
    }
  }
}
