.creationWrapper {
  position: relative;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  height: 20vh;
  background: #2c5363;
  width: 20vh;
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  left: 50%;
  border-radius: 4vh;
  display: block;
  cursor: pointer;
}

.creationWrapper.tapped {
  margin-top: 0%;
  position: fixed;
  height: 60vh;
  z-index: 4;
  width: 90vw;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  overflow: hidden;
  margin-left: auto;
  cursor: default;
  margin-right: auto;
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  border-radius: 5vh;
}

.selectorTitleWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  bottom: 2.5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  z-index: -1;
}

.selectorTitleWrapper .selctorTitle {
  font-size: 2vh;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #e2eef3;
  font-family: Objektiv Mk2 Bold;
}

.selectorTitleWrapper .subTitle {
  font-size: 1.8vh;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #c5dde7;
  font-family: Objektiv Mk2;
}

@media (orientation: landscape) {
  .creationWrapper {
    height: 250px;
    border-radius: 50px;
    width: 250px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    left: 50%;
  }
  .creationWrapper.tapped {
    overflow: hidden;
    margin-left: auto;
    cursor: default;
    margin-right: auto;
    position: fixed;
    border-radius: 0;
    height: 80vh;
    z-index: 4;
    min-height: 603px;
    min-width: 603px;
    width: 80vh;
    -webkit-transition: 250ms ease-out;
    transition: 250ms ease-out;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 5vh;
  }
  .selectorTitleWrapper {
    position: relative;
    margin-top: 3vh;
    z-index: 1;
  }
  .selectorTitleWrapper .selctorTitle {
    font-size: clamp(15px, 2.5vh, 20px);
  }
  .selectorTitleWrapper .subTitle {
    font-size: clamp(12px, 2vh, 16px);
  }
}

@media (orientation: landscape) and (min-width: 2000px) {
  .creationWrapper {
    height: 350px;
    width: 350px;
    border-radius: 50px;
  }
}
/*# sourceMappingURL=Creation.module.css.map */