.headlineWrapper {
  grid-area: headline;
  flex-flow: column nowrap;
  display: flex;
  width: 80%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  & span {
    font-family: Objektiv Mk2 Bold;
    height: fit-content;
    width: fit-content;
    display: block;
    white-space: nowrap;
  }
  & .firstHeadline {
    color: #3e768e;
    font-size: 3.75vw;
  }
  & .secondHeadline {
    margin-top: 2vw;
    margin-bottom: 2vw;
    display: flex;
    flex-flow: row nowrap;
    // display: block;
    & span {
      font-size: 4vw;
      color: #e2eef3;
    }
    & span:last-child {
      margin-left: 1vw;
      color: #61dbfb;
    }
  }
  & .thirdHeadline {
    color: #3e768e;
    font-size: 3.75vw;
  }
}

@media (orientation: landscape) {
  .headlineWrapper {
    grid-area: headline;
    transform: translate(0, -85%);
    margin-left: 0;
    margin-right: 0;
    & .firstHeadline {
      font-size: clamp(25px, 2.5vw, 45px);
    }
    & .secondHeadline {
      & span {
        font-size: clamp(30px, 2.75vw, 50px);
      }
      & span:last-child {
        margin-left: 15px;
      }
    }
    & .thirdHeadline {
      font-size: clamp(25px, 2.5vw, 45px);
    }
  }
}
