.headlineWrapper {
  grid-area: headline;
  width: 80%;
  height: 100%;
  display: flex;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  margin: auto;
  flex-flow: column nowrap;
  font-family: Objektiv Mk2 Bold;
  justify-content: space-between;
  & .firstHeadline {
    height: fit-content;
    margin-top: 2.5%;
    margin-bottom: 0;
    width: 100%;
    position: relative;
    height: fit-content;
    color: #3e768e;
    display: block;
    font-weight: 900;
    padding: 0;
  }
  & .secondHeadline {
    margin-bottom: 0;

    margin-top: auto;
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    & span {
      height: fit-content;
      width: fit-content;
      color: white;
      top: 50%;
      position: relative;
      transform: translate(0, -50%);
    }
    & .staticText {
    }
    & .dynamicText {
      margin-left: 2vw;
    }
  }
  & .thirdHeadline {
    margin-top: 0;
    margin-bottom: 5%;
    height: fit-content;
    width: fit-content;

    color: #3e768e;
    font-size: 100%;
  }
}

@media (max-width: 1024px) {
  .headlineWrapper {
    pointer-events: none;
    position: relative;
    grid-area: headline;
    height: 100%;
    width: 80%;
    margin-right: auto;
  }
}

@keyframes type {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1025px) and (orientation: landscape) {
  .headlineWrapper {
    & .firstHeadline {
      font-size: 2.5vw;
      margin-top: 20%;
      margin-bottom: auto;
    }
    & .secondHeadline {
      top: 50%;
      transform: translate(0, -50%);
      position: absolute;
      margin-top: auto;
      margin-bottom: 20%;
      height: fit-content;
      & span {
        height: fit-content;
        width: fit-content;
        white-space: nowrap;
        color: white;
        font-size: 4vw;
        top: 50%;
        position: relative;
        transform: translate(0, -50%);
      }
      & .staticText {
      }
      & .dynamicText {
        margin-left: 2vh;
      }
    }
    & .thirdHeadline {
      margin-bottom: 30%;
      margin-top: auto;
      font-size: 2.5vw;
    }
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .headlineWrapper {
    & .firstHeadline {
      font-size: 2.5vw;
    }
    & .secondHeadline {
      top: 50%;
      transform: translate(0, -50%);
      position: absolute;
      & span {
        height: fit-content;
        width: fit-content;
        color: white;
        font-size: 4vw;
        top: 50%;
        position: relative;
        transform: translate(0, -50%);
      }
      & .staticText {
      }
      & .dynamicText {
        margin-left: 2vh;
      }
    }
    & .thirdHeadline {
      font-size: 2.5vw;
      margin-top: auto;
      margin-bottom: 30%;
    }
  }
}

@media (max-width: 1024px) and (orientation: portrait) {
  .headlineWrapper {
    & .firstHeadline {
      font-size: 4vw;
    }
    & .secondHeadline {
      & span {
        height: fit-content;
        width: fit-content;
        color: white;
        font-size: 4vw;
        top: 50%;
        position: relative;
        transform: translate(0, -50%);
      }
      & .staticText {
      }
      & .dynamicText {
        margin-left: 2vw;
      }
    }
    & .thirdHeadline {
      font-size: 4vw;
    }
  }
}
