.headlineWrapper {
  grid-area: headline;
  flex-flow: column nowrap;
  display: flex;
  width: 80%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  & span {
    font-family: Objektiv Mk2 Bold;
    height: fit-content;
    width: fit-content;
    display: block;
    white-space: nowrap;
  }
  & .firstHeadline {
    color: #3e768e;
    font-size: 3.75vw;
  }
  & .secondHeadline {
    margin-top: 2vw;
    margin-bottom: 2vw;
    display: inline-block;
    font-family: Objektiv Mk2 Bold;
    font-size: 4vw;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    color: #e2eef3;
    width: fit-content;
    & .dynamicText {
      color: #61dbfb;
      display: inline-block;
      margin-left: 1vw;
    }
  }
  & .thirdHeadline {
    color: #3e768e;
    font-size: 3.75vw;
  }
}

@media (orientation: landscape) {
  .headlineWrapper {
    grid-area: headline;
    transform: translate(0, -85%);
    margin-left: 0;
    margin-right: 0;
    & .firstHeadline {
      font-size: clamp(25px, 2.5vw, 45px);
    }
    & .secondHeadline {
      font-size: clamp(30px, 2.75vw, 50px);
      display: block;
      width: 60vw;
      white-space: pre-wrap;
      & .dynamicText {
        margin-left: 15px;
      }
    }
    & .thirdHeadline {
      font-size: clamp(20px, 2.5vw, 45px);
    }
  }
}
