.contact {
  width: 100vw;
  grid-template-areas: "." "header" "hireMe" "contact" "links" ".";
  grid-template-rows: 20vh 8vh 20vh 12vh 20vh;
  grid-template-columns: 100%;
  height: 100vh;
  display: grid;
  background-color: #0b171d;
  & .header {
    padding: 0;
    grid-area: header;
    white-space: none;
    margin-top: none;
    position: relative;
    height: fit-content;
    width: fit-content;
    margin-left: 5%;
    font-size: 2.5vh;
    color: white;
    display: block;
    font-family: Objektiv Mk2 Bold;
  }

  & .contact {
    display: block;
    width: fit-content;
    grid-area: contact;
    height: fit-content;
    margin-left: auto;
    position: relative;
    top: 50%;
    color: white;
    transform: translate(0, -50%);
    font-family: Objektiv Mk2;
    margin-right: auto;
    font-size: 4.5vw;
  }

  & .hireMe {
    grid-area: hireMe;
    position: relative;
    height: 10vh;
    top: 50%;
    transform: translate(0, -50%);
    font-family: Objektiv Mk2 Bold;
    margin-right: auto;
    margin-left: auto;
    color: white;
    background: #2c5363;
    border: solid 0.5vh #2c5363;
    outline: none;
    border-style: none;
    border-radius: 5vh;
    font-size: 3vh;
    width: 50%;
    transition: 100ms ease-out;
    user-select: none;
    &:active {
      background: none;
      transition: 100ms ease-out;
      user-select: none;
      color: #61dbfb;

      border: solid 0.5vh #61dbfb;
    }
  }
  & .socialLinks {
    display: flex;
    flex-flow: row nowrap;
    grid-area: links;
    height: fit-content;
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translate(0, -50%);
    & a {
      user-select: none;
      margin: auto;
      & svg {
        display: block;
        user-select: none;
        outline: none;
        height: 10vw;
        width: auto;
        fill: #e3eef2;
      }
    }
  }
}
