.contactPageWrapper {
  width: 100vw;
      grid-template-areas: "." "header" "hireMe" "email" "links" ".";
  -ms-grid-rows: 20vh 8vh 20vh 12vh 20vh 20vh;
      grid-template-rows: 20vh 8vh 20vh 12vh 20vh 20vh;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  background-color: #0b171d;
}

.contactPageWrapper .header {
  padding: 0;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: header;
  white-space: none;
  margin-top: none;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 5%;
  font-size: 2.5vh;
  color: #e2eef3;
  display: block;
  font-family: Objektiv Mk2 Bold;
}

.contactPageWrapper .email {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: email;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: auto;
  position: relative;
  top: 50%;
  color: #e2eef3;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-family: Objektiv Mk2;
  margin-right: auto;
  font-size: 4.5vw;
}

.contactPageWrapper .hireMe {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: hireMe;
  position: relative;
  height: 10vh;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-family: Objektiv Mk2 Bold;
  margin-right: auto;
  margin-left: auto;
  color: #e2eef3;
  background: #2c5363;
  border: solid 0.5vh #2c5363;
  outline: none;
  border-style: none;
  border-radius: 5vh;
  font-size: 3vh;
  width: 50%;
  -webkit-transition: 100ms ease-out;
  transition: 100ms ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contactPageWrapper .hireMe:active {
  background: none;
  -webkit-transition: 100ms ease-out;
  transition: 100ms ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #61dbfb;
  border: solid 0.5vh #61dbfb;
}

.contactPageWrapper .socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: links;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.contactPageWrapper .socialLinks a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: auto;
}

.contactPageWrapper .socialLinks a svg {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  height: 10vw;
  width: auto;
  fill: #e2eef3;
}

@media (orientation: landscape) {
  .contactPageWrapper {
        grid-template-areas: ". ." "header header" "hireMe email" ". .";
    -ms-grid-rows: 20vh 8vh 52vh 20vh;
        grid-template-rows: 20vh 8vh 52vh 20vh;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .contactPageWrapper .header {
    font-size: 2.5vw;
  }
  .contactPageWrapper .email {
    top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    margin-top: 15vh;
    margin-bottom: auto;
    font-size: 2.5vw;
  }
  .contactPageWrapper .hireMe {
    height: 100px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    font-family: Objektiv Mk2 Bold;
    margin-right: auto;
    margin-left: auto;
    color: white;
    background: #2c5363;
    border: solid 0.5vh #2c5363;
    outline: none;
    border-style: none;
    border-radius: 5vw;
    font-size: 2vw;
    width: 40%;
    -webkit-transition: 100ms ease-out;
    transition: 100ms ease-out;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .contactPageWrapper .hireMe:active {
    background: none;
    -webkit-transition: 100ms ease-out;
    transition: 100ms ease-out;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    color: #61dbfb;
    border: solid 0.5vh #61dbfb;
  }
  .contactPageWrapper .socialLinks {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: email;
    top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    margin-bottom: 10vh;
    margin-top: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .contactPageWrapper .socialLinks a {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin: auto;
  }
  .contactPageWrapper .socialLinks a svg {
    display: block;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    outline: none;
    height: 5vw;
    width: auto;
    fill: #e3eef2;
  }
  .contactPageWrapper .socialLinks a svg:first-child {
    margin-right: 2vw;
  }
  .contactPageWrapper .socialLinks a svg:last-child {
    margin-left: 2vw;
  }
}
/*# sourceMappingURL=ContactPage.module.css.map */