.contact {
  width: 100vw;
      grid-template-areas: "." "header" "contact" "hireMe" "links" ".";
  -ms-grid-rows: 20vh 8vh 12vh 20vh 20vh;
      grid-template-rows: 20vh 8vh 12vh 20vh 20vh;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  background-color: #0b171d;
}

.contact .header {
  padding: 0;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: header;
  white-space: none;
  margin-top: none;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 5%;
  font-size: 2.5vh;
  color: white;
  display: block;
  font-family: Objektiv Mk2 Bold;
}

.contact .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 80%;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: contact;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  margin-right: auto;
}

.contact .contact span {
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin: auto;
  color: white;
  margin: auto;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: contact;
  font-family: Objektiv Mk2;
  font-size: 4.5vw;
}

.contact .contact svg {
  width: 10vw;
  height: auto;
  margin: auto;
}

.contact .hireMe {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: hireMe;
  position: relative;
  height: 50%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-family: Objektiv Mk2 Bold;
  margin-right: auto;
  margin-left: auto;
  color: white;
  background: #2c5363;
  border: solid 0.5vh #2c5363;
  outline: none;
  border-style: none;
  border-radius: 5vh;
  font-size: 3vh;
  width: 50%;
  -webkit-transition: 100ms ease-out;
  transition: 100ms ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contact .hireMe:active {
  background: none;
  -webkit-transition: 100ms ease-out;
  transition: 100ms ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #61dbfb;
  border: solid 0.5vh #61dbfb;
}

.contact .socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: links;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.contact .socialLinks a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: auto;
}

.contact .socialLinks a svg {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  height: 10vw;
  width: auto;
  fill: #e3eef2;
}
/*# sourceMappingURL=ContactPage.module.css.map */