.links-enter {
  transition: all 250ms ease-out;
  transform: translate(-100%, 0);
  opacity: 0;
}

.links-enter-active {
  transform: translate(0, 0);
  opacity: 1;

  transition: all 250ms ease-out;
}
.links-exit {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 250ms ease-out;
}

.links-exit-active {
  transition: all 250ms ease-out;
  transform: translate(-100%, 0);
  opacity: 0;
}
