.navWrapper {
  top: 0;
  width: 100vw;
  height: 11vh;
  transition: 250ms ease-out;
  display: flex;
  flex-flow: row;
  background: transparent;
  z-index: 2;
  justify-content: space-between;
  position: sticky;
  transition-delay: 250ms;

  & .logoLink {
    margin-left: 5%;
    margin-right: auto;

    outline: none;
  }
  & .linksWrapper {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    margin-left: auto;
    margin-right: 5%;
    top: 50%;
    justify-content: right;
    width: 56%;
    height: 50%;
    transform: translate(0, -50%);

    & .link {
      height: fit-content;
      position: relative;
      margin-left: auto;
      top: 50%;
      transform: translate(0, -50%);
      position: relative;
      & a {
        text-decoration: none;
        & .text {
          height: fit-content;
          width: fit-content;
          font-family: "Objektiv-mk1";
          color: white;
          font-weight: medium;
          font-size: 150%;
        }
      }
    }
  }
}

.navEnter {
  transition: 250ms ease-out;

  &.navEnterActive {
    transition: 250ms ease-out;
  }
}

//slightly less black #11232C
//slightly more black #0B171D

.navExit {
  transition: 250ms ease-out;
  &.navExitActive {
    transition: 250ms ease-out;
  }
}

.linksEnter {
  transition: all 250ms ease-out;
  transform: translate(100%, 0);
  &.linksEnterActive {
    transform: translate(0, 0);
    transition: all 250ms ease-out;
  }
}

.linksExit {
  transform: translate(0, 0);
  transition: all 250ms ease-out;
  &.linksExitActive {
    transition: all 250ms ease-out;
    transform: translate(100%, 0);
  }
}
