.navWrapper {
  top: 0;
  width: 100vw;
  height: 11vh;
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  background: transparent;
  z-index: 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
  background: transparent;
}

.navWrapper .logoLink {
  margin-left: 5%;
  margin-right: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}

.navWrapper .linksWrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-left: auto;
  margin-right: 5%;
  top: 50%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 56%;
  height: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.navWrapper .linksWrapper .link {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  margin-left: auto;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  position: relative;
}

.navWrapper .linksWrapper .link a {
  text-decoration: none;
}

.navWrapper .linksWrapper .link a .text {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Objektiv-mk1";
  color: white;
  font-weight: medium;
  font-size: 150%;
}

.navEnter {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.navEnter.navEnterActive {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.navExit {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.navExit.navExitActive {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.linksEnter {
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.linksEnter.linksEnterActive {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

.linksExit {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

.linksExit.linksExitActive {
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

@media (max-width: 600px), (orientation: landscape) {
  .navWrapper {
    height: 11vw;
  }
}

@media (max-width: 450px), (orientation: portrait) {
  .navWrapper {
    height: 11vh;
  }
}
/*# sourceMappingURL=Nav.module.css.map */