// @mixin mobileLandscape {
//   .navWrapper {
//     height: 16vh;
//   }
// }

.navWrapper {
  top: 0;
  width: 100%;
  height: 60px;
  transition: top 250ms ease-out;
  display: flex;
  flex-flow: row;
  background: transparent;
  box-sizing: border-box;
  z-index: 3;
  justify-content: space-between;
  position: sticky;
  transition-delay: 250ms;
  background: transparent;

  & .logoLink {
    margin-left: 5%;
    margin-right: auto;
    user-select: none;
    height: 100%;
    width: fit-content;
    display: block;
    outline: none;
  }
  & .linksWrapper {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    margin-left: auto;
    margin-right: 5%;
    top: 50%;
    justify-content: right;
    width: 56%;
    height: 50%;
    transform: translate(0, -50%);

    & .link {
      height: fit-content;
      position: relative;
      margin-left: auto;
      top: 50%;
      transform: translate(0, -50%);
      position: relative;
      & a {
        text-decoration: none;
        & .text {
          height: fit-content;
          width: fit-content;
          font-family: "Objektiv-mk1";
          color: white;
          font-weight: medium;
          font-size: 150%;
        }
      }
    }
  }
}

.navEnter {
  transition: 250ms ease-out;

  &.navEnterActive {
    transition: 250ms ease-out;
  }
}

//slightly less black #11232C
//slightly more black #0B171D

.navExit {
  transition: top 250ms ease-out;
  &.navExitActive {
    transition: transform 250ms ease-out;
  }
}

.linksEnter {
  transition: transform 250ms ease-out;
  transform: translate(100%, 0);
  &.linksEnterActive {
    transform: translate(0, 0);
    transition: transform 250ms ease-out;
  }
}

.linksExit {
  transform: translate(0, 0);
  transition: transform 250ms ease-out;
  &.linksExitActive {
    transition: transform 250ms ease-out;
    transform: translate(100%, 0);
  }
}

// @media (min-width: 1025px) and (orientation: landscape) {
//   @include mobilePortait();
// }

// @media (max-width: 1024px) and (orientation: landscape) {
//   @include mobileLandscape();
// }

@media (orientation: portrait) and (min-width: 700px) {
  .navWrapper {
    height: 100px;
  }
}

@media (orientation: landscape) {
  .navWrapper {
    height: 60px;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    & .logoLink {
      height: 100%;
      width: fit-content;
      margin-right: 0;
      margin-left: 0;
    }
  }
}
