.st0 {
  fill: none;
  stroke: #000000;
  stroke-miterlimit: 10;
}
.st1 {
  fill: #0f2027;
}
.st2 {
  fill: url(#SVGID_1_);
}
.st3 {
  fill: url(#SVGID_2_);
}
.st4 {
  fill: url(#SVGID_3_);
}
.st5 {
  fill: url(#SVGID_4_);
}
.st6 {
  fill: url(#SVGID_5_);
}
.st7 {
  fill: url(#SVGID_6_);
}
.st8 {
  fill: #ffffff;
}
.st9 {
  fill: none;
}
.st10 {
  fill: url(#SVGID_7_);
}
.st11 {
  fill: url(#SVGID_8_);
}
.st12 {
  fill: url(#SVGID_9_);
}
.st13 {
  fill: url(#SVGID_10_);
}
.st14 {
  fill: url(#SVGID_11_);
}
.st15 {
  fill: url(#SVGID_12_);
}
.st16 {
  fill: url(#SVGID_13_);
}
.st17 {
  fill: url(#SVGID_14_);
}
.st18 {
  fill: url(#SVGID_15_);
}
.st19 {
  fill: url(#SVGID_16_);
}
.st20 {
  fill: url(#SVGID_17_);
}
.st21 {
  fill: url(#SVGID_18_);
}
.st22 {
  fill: url(#SVGID_19_);
}
.st23 {
  fill: url(#SVGID_20_);
}
.st24 {
  fill: url(#SVGID_21_);
}
.st25 {
  fill: url(#SVGID_22_);
}
.st26 {
  fill: url(#SVGID_23_);
}
.st27 {
  fill: url(#SVGID_24_);
}
.st28 {
  fill: url(#SVGID_25_);
}
.st29 {
  fill: url(#SVGID_26_);
}
.st30 {
  fill: url(#SVGID_27_);
}
.st31 {
  fill: url(#SVGID_28_);
}
.st32 {
  fill: url(#SVGID_29_);
}
.st33 {
  fill: url(#SVGID_30_);
}
.st34 {
  fill: url(#SVGID_31_);
}
.st35 {
  fill: url(#SVGID_32_);
}
.st36 {
  fill: url(#SVGID_33_);
}
.st37 {
  fill: url(#SVGID_34_);
}
.st38 {
  fill: url(#SVGID_35_);
}
.st39 {
  fill: url(#SVGID_36_);
}
.st40 {
  fill: url(#SVGID_37_);
}
.st41 {
  fill: url(#SVGID_38_);
}
.st42 {
  fill: url(#SVGID_39_);
}
.st43 {
  fill: url(#SVGID_40_);
}
.st44 {
  fill: url(#SVGID_41_);
}
.st45 {
  fill: url(#SVGID_42_);
}
.st46 {
  fill: url(#SVGID_43_);
}
.st47 {
  fill: url(#SVGID_44_);
}
.st48 {
  fill: url(#SVGID_45_);
}
.st49 {
  fill: url(#SVGID_46_);
}
.st50 {
  fill: url(#SVGID_47_);
}
.st51 {
  fill: url(#SVGID_48_);
}
.st52 {
  fill: url(#SVGID_49_);
}
.st53 {
  fill: url(#SVGID_50_);
}
.st54 {
  fill: url(#SVGID_51_);
}
.st55 {
  fill: url(#SVGID_52_);
}
.st56 {
  fill: url(#SVGID_53_);
}
.st57 {
  fill: url(#SVGID_54_);
}
.st58 {
  fill: url(#SVGID_55_);
}
.st59 {
  fill: url(#SVGID_56_);
}
.st60 {
  fill: url(#SVGID_57_);
}
.st61 {
  fill: url(#SVGID_58_);
}
.st62 {
  fill: url(#SVGID_59_);
}
.st63 {
  fill: url(#SVGID_60_);
}
.st64 {
  fill: url(#SVGID_61_);
}
.st65 {
  fill: url(#SVGID_62_);
}
.st66 {
  fill: url(#SVGID_63_);
}
.st67 {
  fill: url(#SVGID_64_);
}
.st68 {
  fill: url(#SVGID_65_);
}
.st69 {
  fill: url(#SVGID_66_);
}
.st70 {
  fill: url(#SVGID_67_);
}
.st71 {
  fill: url(#SVGID_68_);
}
.st72 {
  fill: url(#SVGID_69_);
}
.st73 {
  fill: url(#SVGID_70_);
}
.st74 {
  fill: url(#SVGID_71_);
}
.st75 {
  fill: #ffffff;
  stroke: #000000;
  stroke-miterlimit: 10;
}
.st76 {
  fill: url(#SVGID_72_);
}
.st77 {
  fill: url(#SVGID_73_);
}
.st78 {
  fill: url(#SVGID_74_);
}
.st79 {
  fill: url(#SVGID_75_);
}
.st80 {
  fill: url(#SVGID_76_);
}
.st81 {
  fill: url(#SVGID_77_);
}
.st82 {
  fill: url(#SVGID_78_);
}
.st83 {
  fill: url(#SVGID_79_);
}
.st84 {
  fill: url(#SVGID_80_);
}
.st85 {
  fill: url(#SVGID_81_);
}
.st86 {
  fill: url(#SVGID_82_);
}
.st87 {
  fill: url(#SVGID_83_);
}
.st88 {
  fill: url(#SVGID_84_);
}
.st89 {
  fill: url(#SVGID_85_);
}
.st90 {
  fill: url(#SVGID_86_);
}
.st91 {
  fill: url(#SVGID_87_);
}
.st92 {
  fill: url(#SVGID_88_);
}
.st93 {
  fill: url(#SVGID_89_);
}
.st94 {
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st95 {
  fill: #e6e6e6;
}
.st96 {
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.st97 {
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
.st98 {
  fill: #f5f5f5;
}
.st99 {
  fill: url(#SVGID_90_);
}
.st100 {
  fill: url(#SVGID_91_);
}
.st101 {
  fill: url(#SVGID_92_);
}
.st102 {
  fill: url(#SVGID_93_);
}
.st103 {
  fill: url(#SVGID_94_);
}
.st104 {
  fill: url(#SVGID_95_);
}
.st105 {
  fill: url(#SVGID_96_);
}
.st106 {
  fill: url(#SVGID_97_);
}
.st107 {
  fill: url(#SVGID_98_);
}
.st108 {
  fill: url(#SVGID_99_);
}
.st109 {
  fill: url(#SVGID_100_);
}
.st110 {
  fill: url(#SVGID_101_);
}
.st111 {
  fill: url(#SVGID_102_);
}
.st112 {
  fill: url(#SVGID_103_);
}
.st113 {
  fill: url(#SVGID_104_);
}
.st114 {
  fill: url(#SVGID_105_);
}
.st115 {
  fill: url(#SVGID_106_);
}
.st116 {
  fill: url(#SVGID_107_);
}
.st117 {
  fill: url(#SVGID_108_);
}
.st118 {
  fill: url(#SVGID_109_);
}
.st119 {
  fill: url(#SVGID_110_);
}
.st120 {
  fill: none;
  stroke: #f5f5f5;
  stroke-width: 40;
  stroke-miterlimit: 10;
}
.st121 {
  fill: url(#SVGID_111_);
  stroke: #e8e8e8;
  stroke-miterlimit: 10;
}
.st122 {
  fill: url(#SVGID_112_);
  stroke: #e8e8e8;
  stroke-miterlimit: 10;
}
.st123 {
  fill: url(#SVGID_113_);
  stroke: #e8e8e8;
  stroke-miterlimit: 10;
}
.st124 {
  fill: url(#SVGID_114_);
  stroke: #e8e8e8;
  stroke-miterlimit: 10;
}
.st125 {
  fill: url(#SVGID_115_);
  stroke: #e8e8e8;
  stroke-miterlimit: 10;
}
.st126 {
  fill: url(#SVGID_116_);
  stroke: #e8e8e8;
  stroke-miterlimit: 10;
}
.st127 {
  fill: url(#SVGID_117_);
  stroke: #e8e8e8;
  stroke-miterlimit: 10;
}
.st128 {
  fill: url(#SVGID_118_);
  stroke: #e8e8e8;
  stroke-miterlimit: 10;
}
.st129 {
  fill: url(#SVGID_119_);
  stroke: #e8e8e8;
  stroke-miterlimit: 10;
}
.st130 {
  fill: url(#SVGID_120_);
  stroke: #e8e8e8;
  stroke-miterlimit: 10;
}
.st131 {
  fill: url(#SVGID_121_);
  stroke: #e8e8e8;
  stroke-miterlimit: 10;
}
.st132 {
  fill: url(#SVGID_122_);
  stroke: #e8e8e8;
  stroke-miterlimit: 10;
}
.st133 {
  fill: url(#SVGID_123_);
  stroke: #e8e8e8;
  stroke-miterlimit: 10;
}
.st134 {
  fill: url(#SVGID_124_);
  stroke: #e8e8e8;
  stroke-miterlimit: 10;
}
.st135 {
  fill: url(#SVGID_125_);
  stroke: #e8e8e8;
  stroke-miterlimit: 10;
}
.st136 {
  fill: url(#SVGID_126_);
  stroke: #e8e8e8;
  stroke-miterlimit: 10;
}
.st137 {
  fill: url(#SVGID_127_);
  stroke: #e8e8e8;
  stroke-miterlimit: 10;
}
.st138 {
  fill: url(#SVGID_128_);
  stroke: #e8e8e8;
  stroke-miterlimit: 10;
}
.st139 {
  fill: url(#SVGID_129_);
  stroke: #e8e8e8;
  stroke-miterlimit: 10;
}
.st140 {
  fill: url(#SVGID_130_);
  stroke: #e8e8e8;
  stroke-miterlimit: 10;
}
.st141 {
  fill: url(#SVGID_131_);
  stroke: #e8e8e8;
  stroke-miterlimit: 10;
}
.st142 {
  fill: url(#SVGID_132_);
  stroke: #e8e8e8;
  stroke-miterlimit: 10;
}
.st143 {
  fill: url(#SVGID_133_);
  stroke: #e8e8e8;
  stroke-miterlimit: 10;
}
.st144 {
  fill: url(#SVGID_134_);
  stroke: #e8e8e8;
  stroke-miterlimit: 10;
}
